43x94q0WUHFB8rwd.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-19T17:15:50.000Z",
    "createdAt": "2026-03-19T17:15:43.865Z",
    "versionId": "db4fab7d-3fc0-4c5f-9936-d6a7c70b980f",
    "workflowId": "43x94q0WUHFB8rwd",
    "nodes": [
      {
        "parameters": {
          "jsCode": "const servicios = {\n  \"Masaje Zen Vital\": \"https://buy.stripe.com/test_7sY3cu9dUgDDdEbb6yd7q00\",\n  \"Masaje Ayurveda Relajante\": \"https://buy.stripe.com/test_00w28qeye733fMj0rUd7q01\",\n  \"Masaje Descontracturante\": \"https://buy.stripe.com/test_eVq00i89Q1IJ2Zx2A2d7q02\",\n  \"Masaje Balsámico\": \"https://buy.stripe.com/test_bJe8wO1Ls877gQngqSd7q03\",\n  \"Masaje Tailandés con Aceite\": \"https://buy.stripe.com/test_aFa00i2Pw5YZ2ZxdeGd7q04\",\n  \"Reflexología\": \"https://buy.stripe.com/test_14A8wOahYgDDfMjfmOd7q05\",\n  \"Masaje de Cabeza, Cuello, Hombros y Espalda\": \"https://buy.stripe.com/test_28E00i75Mcnn7fNb6yd7q06\",\n  \"Ritual Serena\": \"https://buy.stripe.com/test_28E4gy1LsbjJ0Rp0rUd7q07\",\n  \"Masaje Relajante\": \"https://buy.stripe.com/test_aFa28q2Pwaff6bJ3E6d7q08\",\n  \"Masajes para Embarazada\": \"https://buy.stripe.com/test_6oUbJ0cq69bb9nVdeGd7q09\",\n  \"Masaje Adelgazante y Anticelulítico\": \"https://buy.stripe.com/test_14A6oG4XE0EFarZgqSd7q0a\",\n  \"Masaje Lomi Lomi\": \"https://buy.stripe.com/test_9B6aEWbm22MN8jR6Qid7q0b\",\n  \"Masaje Facial Japonés Kobido\": \"https://buy.stripe.com/test_3cI5kCcq6evv0Rp1vYd7q0c\",\n  \"Limpieza de Piel Intensa\": \"https://buy.stripe.com/test_3cI5kCdua1IJ9nVdeGd7q0d\",\n  \"Limpieza de Piel Premium\": \"https://buy.stripe.com/test_bJe8wOahY73343BfmOd7q0e\",\n  \"Dermapen\": \"https://buy.stripe.com/test_3cIaEWdua5YZ57FgqSd7q0f\",\n  \"Depilación Ingles Completas (cera)\": \"https://buy.stripe.com/test_8x2cN40Ho0EF43BcaCd7q0g\",\n  \"Ingles Completas y Medias Piernas\": \"https://buy.stripe.com/test_00w6oGcq61IJeIf3E6d7q0h\",\n  \"Masaje para Parejas\": \"https://buy.stripe.com/test_14A00i3TA0EF8jRcaCd7q0i\",\n  \"Drenaje Linfático Manual\": \"https://buy.stripe.com/test_fZuaEW4XE9bb7fN5Med7q0j\",\n  \"Exoxomas\": \"https://buy.stripe.com/test_6oU9AS2PwfzzdEb1vYd7q0k\",\n  \"Sanación con Reiki\": \"https://buy.stripe.com/test_dRmdR875M4UV8jRb6yd7q0l\",\n  \"The Glow Session\": \"https://buy.stripe.com/test_8x29AS9dUfzz8jRcaCd7q0m\"\n};\n\nconst servicio = $input.first().json.servicio;\nconst link = servicios[servicio] ?? null;\n\nreturn [{ json: { servicio, link } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          480,
          352
        ],
        "id": "c8632dde-5a52-4f18-be5d-1488cd52c607",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "sendTo": "={{ $('When Executed by Another Workflow').item.json.email }}",
          "subject": "=Confirma tu cita en Tornasol — {{ $('Code in JavaScript').item.json.servicio }}",
          "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Confirma tu cita · Tornasol Bienestar</title>\n</head>\n\n<body style=\"margin:0; padding:0; background:#f5f0eb; font-family:Georgia, 'Times New Roman', serif;\">\n\n  <table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"padding:50px 0;\">\n    <tr>\n      <td align=\"center\">\n\n        <!-- CARD -->\n        <table width=\"560\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\"\n               style=\"background:#fffdf9; border-radius:18px; padding:48px; max-width:560px; box-shadow:0 4px 24px rgba(0,0,0,0.07);\">\n\n          <!-- BRAND -->\n          <tr>\n            <td align=\"left\" style=\"padding-bottom:22px;\">\n              <img\n                src=\"https://static.wixstatic.com/media/ca85b0_47d1fd6910ec40049ef53cf6a305db9a~mv2.png\"\n                alt=\"Tornasol Bienestar\"\n                width=\"130\"\n                style=\"display:block; border:0; outline:none; text-decoration:none;\"\n              >\n            </td>\n          </tr>\n\n          <!-- HEADER -->\n          <tr>\n            <td style=\"font-size:21px; font-weight:700; color:#2c1a0e; padding-bottom:6px; text-align:left; letter-spacing:0.3px;\">\n              Tu cita está reservada 🌿\n            </td>\n          </tr>\n\n          <!-- SUBHEADER -->\n          <tr>\n            <td style=\"font-size:14px; color:#9e7a5a; padding-bottom:22px; text-align:left; font-style:italic;\">\n              Solo falta un paso para confirmarla\n            </td>\n          </tr>\n\n          <!-- GREETING -->\n          <tr>\n            <td style=\"font-size:15px; color:#444; line-height:1.8; padding-bottom:24px; text-align:left;\">\n              Hola, {{ $('When Executed by Another Workflow').item.json['Nombre cliente'].split(' ')[0].charAt(0).toUpperCase() + $('When Executed by Another Workflow').item.json['Nombre cliente'].split(' ')[0].slice(1).toLowerCase() }}\n              <br><br>\n              Hemos reservado tu cita en <strong>Tornasol Bienestar</strong>. Para confirmarla definitivamente, completa el pago del servicio a través del enlace seguro que encontrarás más abajo.\n            </td>\n          </tr>\n\n          <!-- LINE -->\n          <tr>\n            <td style=\"padding-bottom:26px;\">\n              <div style=\"height:1px; background:#ede5d8;\"></div>\n            </td>\n          </tr>\n\n          <!-- SERVICE BLOCK -->\n          <tr>\n            <td style=\"font-size:15px; color:#222; line-height:1.9; text-align:left; padding-bottom:24px;\">\n\n              <div style=\"margin-bottom:14px;\">\n                <span style=\"font-weight:700; color:#2c1a0e;\">🌿 Servicio reservado</span><br>\n                <span style=\"color:#555;\">{{ $json.servicio }}</span>\n              </div>\n\n            </td>\n          </tr>\n\n          <!-- PAYMENT BOX -->\n          <tr>\n            <td style=\"padding-bottom:28px;\">\n              <table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\"\n                     style=\"background:#fdf6ee; border-radius:12px; padding:24px; border:1px solid #e8d9c4;\">\n                <tr>\n                  <td style=\"font-size:14px; color:#7a5c3a; line-height:1.75; padding-bottom:18px;\">\n                    El pago se realiza de forma segura a través de <strong>Stripe</strong>. Una vez completado, recibirás la confirmación de tu cita por correo electrónico.\n                  </td>\n                </tr>\n                <tr>\n                  <td align=\"center\">\n                    <a href=\"{{ $json.link }}\"\n                       style=\"background:#2c1a0e; color:#fffdf9; text-decoration:none;\n                              font-size:15px; font-weight:700; padding:14px 36px;\n                              border-radius:10px; display:inline-block; letter-spacing:0.3px;\">\n                      💳 Pagar y confirmar cita\n                    </a>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- LINE -->\n          <tr>\n            <td style=\"padding-bottom:26px;\">\n              <div style=\"height:1px; background:#ede5d8;\"></div>\n            </td>\n          </tr>\n\n          <!-- WHERE BLOCK -->\n          <tr>\n            <td style=\"padding:0 0 22px; text-align:left;\">\n\n              <img\n                src=\"https://api.mapbox.com/styles/v1/mapbox/satellite-streets-v12/static/pin-l+b07d4f(-3.6833,40.4253)/-3.6833,40.4253,17,0/560x220@2x?access_token=MAPBOX_PUBLIC_TOKEN_PLACEHOLDER\"\n                alt=\"\"\n                style=\"width:100%; border-radius:12px; display:block; border:0;\"\n              >\n\n              <div style=\"font-size:14px; color:#555; margin-top:10px; line-height:1.7;\">\n                📍 <strong style=\"color:#2c1a0e;\">Dónde estamos:</strong> Calle Castelló 31, 1º izquierda, Salamanca, Madrid\n                <br>\n                <a href=\"https://www.google.com/maps/place/Calle+de+Castelló,+31,+Salamanca,+28001+Madrid\"\n                   target=\"_blank\"\n                   style=\"color:#b07d4f; font-weight:700; text-decoration:none;\">\n                  Abrir en Google Maps →\n                </a>\n              </div>\n\n            </td>\n          </tr>\n\n          <!-- LINE -->\n          <tr>\n            <td style=\"padding:22px 0;\">\n              <div style=\"height:1px; background:#ede5d8;\"></div>\n            </td>\n          </tr>\n\n          <!-- FOOTER TEXT -->\n          <tr>\n            <td style=\"font-size:14px; color:#666; line-height:1.75; padding-bottom:20px; text-align:left;\">\n              Si tienes cualquier duda sobre tu cita o el pago, estaremos encantadas de ayudarte.\n            </td>\n          </tr>\n\n          <!-- CTA BUTTONS -->\n          <tr>\n            <td align=\"center\" style=\"padding:0 0 28px;\">\n\n              <a href=\"tel:+34640802714\"\n                 style=\"background:#2c1a0e; color:#fffdf9; text-decoration:none;\n                        font-size:14px; font-weight:700; padding:12px 22px;\n                        border-radius:10px; display:inline-block;\">\n                📞 Llamar ahora\n              </a>\n\n              <span style=\"display:inline-block; width:10px;\"></span>\n\n              <a href=\"https://wa.me/34640802714?text=Hola%20Teresa%2C%20tengo%20una%20consulta%20sobre%20mi%20cita.\"\n                 target=\"_blank\"\n                 style=\"background:#fffdf9; color:#2c1a0e; text-decoration:none;\n                        font-size:14px; font-weight:700; padding:11px 20px;\n                        border-radius:10px; display:inline-block; border:1px solid #d9c9b4;\">\n                💬 WhatsApp\n              </a>\n\n            </td>\n          </tr>\n\n          <!-- QUOTE -->\n          <tr>\n            <td style=\"font-size:14px; color:#9e7a5a; line-height:1.75; padding-bottom:22px; text-align:center; font-style:italic; border-top:1px solid #ede5d8; padding-top:22px;\">\n              \"Vienes por un masaje. Te vas más ligero, más viva, más tú.\"\n            </td>\n          </tr>\n\n          <!-- FOOTER FINAL -->\n          <tr>\n            <td style=\"font-size:13px; color:#888; line-height:1.75; text-align:left;\">\n              Gracias por confiar en <strong style=\"color:#2c1a0e;\">Tornasol Bienestar</strong>.\n              <br>\n              Con cariño, Teresa Figueroa · Terapeuta de bienestar\n              <br><br>\n              <span style=\"color:#aaa;\">\n                Tel. +34 640 80 27 14 · tornasol.bienestar.belleza@gmail.com\n              </span>\n            </td>\n          </tr>\n\n        </table>\n\n      </td>\n    </tr>\n  </table>\n\n</body>\n</html>",
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          704,
          352
        ],
        "id": "9039a810-8b10-48f3-b11c-dc5ec82f50b7",
        "name": "Send a message",
        "webhookId": "e5e26c88-f22b-445b-a976-387a68f21547",
        "credentials": {
          "gmailOAuth2": {
            "id": "ryxHkzomci5whSBU",
            "name": "tornasol"
          }
        }
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "telefono"
              },
              {
                "name": "email"
              },
              {
                "name": "servicio"
              },
              {
                "name": "Nombre cliente"
              }
            ]
          }
        },
        "id": "c055762a-8fe7-4141-a639-df2372f30060",
        "typeVersion": 1.1,
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          272,
          352
        ]
      }
    ],
    "connections": {
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a message": {
        "main": [
          []
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Ignacio arcala",
    "name": "Version db4fab7d",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "db4fab7d-3fc0-4c5f-9936-d6a7c70b980f",
  "connections": {
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-18T16:01:33.889Z",
  "id": "43x94q0WUHFB8rwd",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "LINK PAGO",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const servicios = {\n  \"Masaje Zen Vital\": \"https://buy.stripe.com/test_7sY3cu9dUgDDdEbb6yd7q00\",\n  \"Masaje Ayurveda Relajante\": \"https://buy.stripe.com/test_00w28qeye733fMj0rUd7q01\",\n  \"Masaje Descontracturante\": \"https://buy.stripe.com/test_eVq00i89Q1IJ2Zx2A2d7q02\",\n  \"Masaje Balsámico\": \"https://buy.stripe.com/test_bJe8wO1Ls877gQngqSd7q03\",\n  \"Masaje Tailandés con Aceite\": \"https://buy.stripe.com/test_aFa00i2Pw5YZ2ZxdeGd7q04\",\n  \"Reflexología\": \"https://buy.stripe.com/test_14A8wOahYgDDfMjfmOd7q05\",\n  \"Masaje de Cabeza, Cuello, Hombros y Espalda\": \"https://buy.stripe.com/test_28E00i75Mcnn7fNb6yd7q06\",\n  \"Ritual Serena\": \"https://buy.stripe.com/test_28E4gy1LsbjJ0Rp0rUd7q07\",\n  \"Masaje Relajante\": \"https://buy.stripe.com/test_aFa28q2Pwaff6bJ3E6d7q08\",\n  \"Masajes para Embarazada\": \"https://buy.stripe.com/test_6oUbJ0cq69bb9nVdeGd7q09\",\n  \"Masaje Adelgazante y Anticelulítico\": \"https://buy.stripe.com/test_14A6oG4XE0EFarZgqSd7q0a\",\n  \"Masaje Lomi Lomi\": \"https://buy.stripe.com/test_9B6aEWbm22MN8jR6Qid7q0b\",\n  \"Masaje Facial Japonés Kobido\": \"https://buy.stripe.com/test_3cI5kCcq6evv0Rp1vYd7q0c\",\n  \"Limpieza de Piel Intensa\": \"https://buy.stripe.com/test_3cI5kCdua1IJ9nVdeGd7q0d\",\n  \"Limpieza de Piel Premium\": \"https://buy.stripe.com/test_bJe8wOahY73343BfmOd7q0e\",\n  \"Dermapen\": \"https://buy.stripe.com/test_3cIaEWdua5YZ57FgqSd7q0f\",\n  \"Depilación Ingles Completas (cera)\": \"https://buy.stripe.com/test_8x2cN40Ho0EF43BcaCd7q0g\",\n  \"Ingles Completas y Medias Piernas\": \"https://buy.stripe.com/test_00w6oGcq61IJeIf3E6d7q0h\",\n  \"Masaje para Parejas\": \"https://buy.stripe.com/test_14A00i3TA0EF8jRcaCd7q0i\",\n  \"Drenaje Linfático Manual\": \"https://buy.stripe.com/test_fZuaEW4XE9bb7fN5Med7q0j\",\n  \"Exoxomas\": \"https://buy.stripe.com/test_6oU9AS2PwfzzdEb1vYd7q0k\",\n  \"Sanación con Reiki\": \"https://buy.stripe.com/test_dRmdR875M4UV8jRb6yd7q0l\",\n  \"The Glow Session\": \"https://buy.stripe.com/test_8x29AS9dUfzz8jRcaCd7q0m\"\n};\n\nconst servicio = $input.first().json.servicio;\nconst link = servicios[servicio] ?? null;\n\nreturn [{ json: { servicio, link } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        352
      ],
      "id": "c8632dde-5a52-4f18-be5d-1488cd52c607",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "={{ $('When Executed by Another Workflow').item.json.email }}",
        "subject": "=Confirma tu cita en Tornasol — {{ $('Code in JavaScript').item.json.servicio }}",
        "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Confirma tu cita · Tornasol Bienestar</title>\n</head>\n\n<body style=\"margin:0; padding:0; background:#f5f0eb; font-family:Georgia, 'Times New Roman', serif;\">\n\n  <table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"padding:50px 0;\">\n    <tr>\n      <td align=\"center\">\n\n        <!-- CARD -->\n        <table width=\"560\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\"\n               style=\"background:#fffdf9; border-radius:18px; padding:48px; max-width:560px; box-shadow:0 4px 24px rgba(0,0,0,0.07);\">\n\n          <!-- BRAND -->\n          <tr>\n            <td align=\"left\" style=\"padding-bottom:22px;\">\n              <img\n                src=\"https://static.wixstatic.com/media/ca85b0_47d1fd6910ec40049ef53cf6a305db9a~mv2.png\"\n                alt=\"Tornasol Bienestar\"\n                width=\"130\"\n                style=\"display:block; border:0; outline:none; text-decoration:none;\"\n              >\n            </td>\n          </tr>\n\n          <!-- HEADER -->\n          <tr>\n            <td style=\"font-size:21px; font-weight:700; color:#2c1a0e; padding-bottom:6px; text-align:left; letter-spacing:0.3px;\">\n              Tu cita está reservada 🌿\n            </td>\n          </tr>\n\n          <!-- SUBHEADER -->\n          <tr>\n            <td style=\"font-size:14px; color:#9e7a5a; padding-bottom:22px; text-align:left; font-style:italic;\">\n              Solo falta un paso para confirmarla\n            </td>\n          </tr>\n\n          <!-- GREETING -->\n          <tr>\n            <td style=\"font-size:15px; color:#444; line-height:1.8; padding-bottom:24px; text-align:left;\">\n              Hola, {{ $('When Executed by Another Workflow').item.json['Nombre cliente'].split(' ')[0].charAt(0).toUpperCase() + $('When Executed by Another Workflow').item.json['Nombre cliente'].split(' ')[0].slice(1).toLowerCase() }}\n              <br><br>\n              Hemos reservado tu cita en <strong>Tornasol Bienestar</strong>. Para confirmarla definitivamente, completa el pago del servicio a través del enlace seguro que encontrarás más abajo.\n            </td>\n          </tr>\n\n          <!-- LINE -->\n          <tr>\n            <td style=\"padding-bottom:26px;\">\n              <div style=\"height:1px; background:#ede5d8;\"></div>\n            </td>\n          </tr>\n\n          <!-- SERVICE BLOCK -->\n          <tr>\n            <td style=\"font-size:15px; color:#222; line-height:1.9; text-align:left; padding-bottom:24px;\">\n\n              <div style=\"margin-bottom:14px;\">\n                <span style=\"font-weight:700; color:#2c1a0e;\">🌿 Servicio reservado</span><br>\n                <span style=\"color:#555;\">{{ $json.servicio }}</span>\n              </div>\n\n            </td>\n          </tr>\n\n          <!-- PAYMENT BOX -->\n          <tr>\n            <td style=\"padding-bottom:28px;\">\n              <table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\"\n                     style=\"background:#fdf6ee; border-radius:12px; padding:24px; border:1px solid #e8d9c4;\">\n                <tr>\n                  <td style=\"font-size:14px; color:#7a5c3a; line-height:1.75; padding-bottom:18px;\">\n                    El pago se realiza de forma segura a través de <strong>Stripe</strong>. Una vez completado, recibirás la confirmación de tu cita por correo electrónico.\n                  </td>\n                </tr>\n                <tr>\n                  <td align=\"center\">\n                    <a href=\"{{ $json.link }}\"\n                       style=\"background:#2c1a0e; color:#fffdf9; text-decoration:none;\n                              font-size:15px; font-weight:700; padding:14px 36px;\n                              border-radius:10px; display:inline-block; letter-spacing:0.3px;\">\n                      💳 Pagar y confirmar cita\n                    </a>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- LINE -->\n          <tr>\n            <td style=\"padding-bottom:26px;\">\n              <div style=\"height:1px; background:#ede5d8;\"></div>\n            </td>\n          </tr>\n\n          <!-- WHERE BLOCK -->\n          <tr>\n            <td style=\"padding:0 0 22px; text-align:left;\">\n\n              <img\n                src=\"https://api.mapbox.com/styles/v1/mapbox/satellite-streets-v12/static/pin-l+b07d4f(-3.6833,40.4253)/-3.6833,40.4253,17,0/560x220@2x?access_token=MAPBOX_PUBLIC_TOKEN_PLACEHOLDER\"\n                alt=\"\"\n                style=\"width:100%; border-radius:12px; display:block; border:0;\"\n              >\n\n              <div style=\"font-size:14px; color:#555; margin-top:10px; line-height:1.7;\">\n                📍 <strong style=\"color:#2c1a0e;\">Dónde estamos:</strong> Calle Castelló 31, 1º izquierda, Salamanca, Madrid\n                <br>\n                <a href=\"https://www.google.com/maps/place/Calle+de+Castelló,+31,+Salamanca,+28001+Madrid\"\n                   target=\"_blank\"\n                   style=\"color:#b07d4f; font-weight:700; text-decoration:none;\">\n                  Abrir en Google Maps →\n                </a>\n              </div>\n\n            </td>\n          </tr>\n\n          <!-- LINE -->\n          <tr>\n            <td style=\"padding:22px 0;\">\n              <div style=\"height:1px; background:#ede5d8;\"></div>\n            </td>\n          </tr>\n\n          <!-- FOOTER TEXT -->\n          <tr>\n            <td style=\"font-size:14px; color:#666; line-height:1.75; padding-bottom:20px; text-align:left;\">\n              Si tienes cualquier duda sobre tu cita o el pago, estaremos encantadas de ayudarte.\n            </td>\n          </tr>\n\n          <!-- CTA BUTTONS -->\n          <tr>\n            <td align=\"center\" style=\"padding:0 0 28px;\">\n\n              <a href=\"tel:+34640802714\"\n                 style=\"background:#2c1a0e; color:#fffdf9; text-decoration:none;\n                        font-size:14px; font-weight:700; padding:12px 22px;\n                        border-radius:10px; display:inline-block;\">\n                📞 Llamar ahora\n              </a>\n\n              <span style=\"display:inline-block; width:10px;\"></span>\n\n              <a href=\"https://wa.me/34640802714?text=Hola%20Teresa%2C%20tengo%20una%20consulta%20sobre%20mi%20cita.\"\n                 target=\"_blank\"\n                 style=\"background:#fffdf9; color:#2c1a0e; text-decoration:none;\n                        font-size:14px; font-weight:700; padding:11px 20px;\n                        border-radius:10px; display:inline-block; border:1px solid #d9c9b4;\">\n                💬 WhatsApp\n              </a>\n\n            </td>\n          </tr>\n\n          <!-- QUOTE -->\n          <tr>\n            <td style=\"font-size:14px; color:#9e7a5a; line-height:1.75; padding-bottom:22px; text-align:center; font-style:italic; border-top:1px solid #ede5d8; padding-top:22px;\">\n              \"Vienes por un masaje. Te vas más ligero, más viva, más tú.\"\n            </td>\n          </tr>\n\n          <!-- FOOTER FINAL -->\n          <tr>\n            <td style=\"font-size:13px; color:#888; line-height:1.75; text-align:left;\">\n              Gracias por confiar en <strong style=\"color:#2c1a0e;\">Tornasol Bienestar</strong>.\n              <br>\n              Con cariño, Teresa Figueroa · Terapeuta de bienestar\n              <br><br>\n              <span style=\"color:#aaa;\">\n                Tel. +34 640 80 27 14 · tornasol.bienestar.belleza@gmail.com\n              </span>\n            </td>\n          </tr>\n\n        </table>\n\n      </td>\n    </tr>\n  </table>\n\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        704,
        352
      ],
      "id": "9039a810-8b10-48f3-b11c-dc5ec82f50b7",
      "name": "Send a message",
      "webhookId": "e5e26c88-f22b-445b-a976-387a68f21547",
      "credentials": {
        "gmailOAuth2": {
          "id": "ryxHkzomci5whSBU",
          "name": "tornasol"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "telefono"
            },
            {
              "name": "email"
            },
            {
              "name": "servicio"
            },
            {
              "name": "Nombre cliente"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "7nachooo",
    "name": "WORKFLOWS"
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-03-18T16:01:33.891Z",
      "createdAt": "2026-03-18T16:01:33.891Z",
      "role": "workflow:owner",
      "workflowId": "43x94q0WUHFB8rwd",
      "projectId": "lqK9FRssQ2UFPW9I"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-03-10T16:14:12.973Z",
      "createdAt": "2026-03-10T16:14:12.973Z",
      "id": "3pgstlrqjK6cwEu3",
      "name": "TORNASOL"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-19T17:15:51.985Z",
  "versionId": "db4fab7d-3fc0-4c5f-9936-d6a7c70b980f"
}