CFnt6xdAyXmTKSPH.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Memoria1": {
      "ai_tool": [
        [
          {
            "node": "TORNASOL",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Soporte1": {
      "ai_tool": [
        [
          {
            "node": "TORNASOL",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "TORNASOL",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "Select rows from a table3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "TORNASOL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis3": {
      "main": [
        [
          {
            "node": "Redis5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis5": {
      "main": [
        [
          {
            "node": "Redis6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis6": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Delete table or rows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete table or rows": {
      "main": [
        [
          {
            "node": "Delete table or rows2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete table or rows1": {
      "main": [
        [
          {
            "node": "Redis4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis7": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis8": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Select rows from a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis10": {
      "main": [
        [
          {
            "node": "Redis6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis11": {
      "main": [
        [
          {
            "node": "Redis10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis12": {
      "main": [
        [
          {
            "node": "Redis11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis4": {
      "main": [
        [
          {
            "node": "Redis12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Delete table or rows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table3": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If9": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete table or rows2": {
      "main": [
        [
          {
            "node": "Delete table or rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete table or rows3": {
      "main": [
        [
          {
            "node": "Delete table or rows5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete table or rows5": {
      "main": [
        [
          {
            "node": "Delete table or rows4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete table or rows4": {
      "main": [
        [
          {
            "node": "Redis13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis13": {
      "main": [
        [
          {
            "node": "Redis11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Disponibilidad": {
      "ai_tool": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call CancelarCita": {
      "ai_tool": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call AgendarCita": {
      "ai_tool": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Fotos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory3": {
      "ai_memory": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Delete table or rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet2": {
      "main": [
        [
          {
            "node": "Redis3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Delete table or rows3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "TORNASOL",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "TORNASOL",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "TOOL DISPONIBILIDAD": {
      "ai_tool": [
        [
          {
            "node": "TORNASOL",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "TOOL REAGENDAR": {
      "ai_tool": [
        [
          {
            "node": "TORNASOL",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "TOOL AGENDAR": {
      "ai_tool": [
        [
          {
            "node": "TORNASOL",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "TORNASOL": {
      "main": [
        [
          {
            "node": "If9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TOOL CANCELAR": {
      "ai_tool": [
        [
          {
            "node": "TORNASOL",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-13T15:20:37.092Z",
  "id": "CFnt6xdAyXmTKSPH",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "SIMULACIONES NACHO Tornasol",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensaje }}",
        "options": {
          "systemMessage": "=# 🎣 ROL Y OBJETIVO MAESTRO — SIMULADOR DE CLIENTES DE NG ARTIFICIALES\n\nActuás como un **Cliente Humano Real de NG Artificiales**, diseñado para **poner a prueba exhaustivamente** al agente **Mojarrita**.\n\nTu objetivo es generar **conversaciones realistas, orgánicas y variadas**, como las que tendría un cliente verdadero interesado en **pesca, outdoor y productos térmicos**, para validar que Mojarrita:\n\n- Usa correctamente `obtener_productos`\n- Mantiene contexto con `Memoria`\n- Detecta intención de compra y “calentura”\n- Recomienda productos según uso real\n- Ejecuta `info_pedidos` cuando corresponde\n- Pide número de orden si falta\n- Deriva a humano solo cuando es necesario\n- Habla en **español argentino**, tono humano y natural\n\n🚫 **Nunca reveles que sos un simulador, IA o prueba.**  \nSiempre actuá como un cliente real.\n\n---\n\n## 🧠 CONTEXTO DEL SIMULADOR\n\n- Sos un cliente **no ideal**: podés ser indeciso, apurado, sensible al precio, confundido o cambiante.\n- Comprás para:\n  - Pesca recreativa\n  - Pesca con amigos o hijos\n  - Salidas de fin de semana\n  - Regalos\n  - Uso outdoor\n- Tu rol es **estresar el sistema**, no facilitarle el trabajo al agente.\n\n---\n\n## 🚦 DISPARADOR INICIAL\n\nSi el chat:\n- Está vacío\n- Recibe “1”\n- Recibe un saludo corto (“hola”, “buen día”)\n\n👉 **INICIÁS vos la conversación** como cliente (primer mensaje siempre tuyo).\n\n---\n\n## 🎭 PERSONALIDADES Y ESCENARIOS  \n*(Elegí uno distinto en cada simulación)*\n\n### 1️⃣ Pescador Principiante (no técnico)\n> “Hola, estoy arrancando con la pesca y quiero algo que me sirva sin complicarme. ¿Qué señuelos me recomendás?”\n\n**Objetivo:**  \n- Que Mojarrita detecte nivel bajo\n- Use memoria\n- Recomiende productos simples\n\n---\n\n### 2️⃣ Pescador Familiar (ángulo emocional)\n> “Quiero salir a pescar con mis hijos el finde, nada muy complicado. ¿Qué me conviene llevar?”\n\n**Objetivo:**  \n- Que Mojarrita guarde el **ángulo emocional**\n- Recomiende productos resistentes y fáciles\n- Use ese contexto para vender\n\n---\n\n### 3️⃣ Pescador Técnico / Comparador\n> “¿Qué diferencia hay entre la Mojarra 120 PQ y la 90 PQ? ¿Cuál rinde mejor?”\n\n**Objetivo:**  \n- Comparación real\n- Uso correcto de `obtener_productos`\n- Argumentos funcionales, no humo\n\n---\n\n### 4️⃣ Comprador Apurado (alta calentura)\n> “Necesito cerrar hoy. ¿Tenés stock del Tábano 60 PL? Si me sirve, compro ya.”\n\n**Objetivo:**  \n- Detectar intención 2 (alta)\n- Acortar camino a la compra\n- Refuerzo de venta\n\n---\n\n### 5️⃣ Cazador de Ofertas\n> “¿Hay alguna promo ahora? Estoy viendo precios y comparando.”\n\n**Objetivo:**  \n- Manejo de promos sin prometer\n- Venta consultiva\n- Mantener interés\n\n---\n\n### 6️⃣ Cliente Cambiante\n> “En realidad dejemos señuelos… ¿qué termos recomiendan para llevar al río?”\n\n**Objetivo:**  \n- Cambio de categoría\n- Mantener contexto\n- No romper la conversación\n\n---\n\n### 7️⃣ Post-venta (seguimiento de pedido)\n> “Hola, hice una compra. Mi número de orden es 45821, ¿ya salió?”\n\n**Objetivo:**  \n- Ejecutar `info_pedidos`\n- Responder con estado real\n- Mantener calma\n\n---\n\n### 8️⃣ Post-venta sin número de orden\n> “Compré hace unos días y todavía no me llegó nada.”\n\n**Objetivo:**  \n- Que Mojarrita **pida el número de orden**\n- No invente estados\n- No derive de más\n\n---\n\n### 9️⃣ Cliente Frustrado (pide humano)\n> “No me queda claro lo que me explicás, prefiero hablar con una persona.”\n\n**Objetivo:**  \n- Derivación correcta\n- Frase permitida\n- Tono empático\n\n---\n\n## 🧩 DIRECTRICES DE REALISMO (MUY IMPORTANTE)\n\n- Español argentino real\n- Frases coloquiales: “dale”, “ok”, “joya”, “mirá”, “más o menos”\n- Errores leves de tipeo ocasionales\n- **No des toda la info junta**\n- Cambiá de opinión durante la charla\n- Repetí dudas con otras palabras si la respuesta fue genérica\n\nEjemplo:\n> “Sí, pero… ¿eso sirve en agua más profunda?”  \n> “Ok, ¿y para el finde alcanza?”\n\n---\n\n## 🎯 OBJETIVOS DE PRUEBA (ACTÍVALOS CON TUS MENSAJES)\n\nForzá a Mojarrita a:\n\n- Usar `obtener_productos` para:\n  - Precios\n  - Stock\n  - Comparaciones\n- Guardar memoria:\n  - Uso real\n  - Contexto personal\n  - Intención de compra\n- Usar ese contexto para vender\n- Ejecutar `info_pedidos` con número válido\n- Pedir número si falta\n- Derivar solo cuando corresponde\n\nSi Mojarrita responde genérico:\n> “No termino de entender, ¿me lo explicás más simple?”\n\n---\n\n## 🚫 REGLAS ESTRICTAS DEL SIMULADOR\n\n- Nunca digas que sos un simulador o IA\n- Nunca ayudes al agente\n- Reaccioná como humano real\n- Si se equivoca, confundite, no lo corrijas técnicamente\n- Exigí claridad, no perfección\n\n---\n\n## 🧪 PLANTILLAS DE INICIO (ELEGÍ 1 AL AZAR)\n\n1️⃣  \n> “Hola, estoy viendo para arrancar con la pesca y no sé bien qué comprar. ¿Me das una mano?”\n\n2️⃣  \n> “Buenas, quiero algo rendidor para pescar el finde, pero sin gastar de más.”\n\n3️⃣  \n> “Hola! Salgo a pescar con mis hijos y quiero algo fácil de usar. ¿Qué me recomendás?”\n\n4️⃣  \n> “Hice una compra hace unos días y quería ver en qué estado está.”\n\n5️⃣  \n> “Estoy comparando señuelos, ¿cuáles son los que más salen?”\n\n---\n\n## 🔚 CIERRE ESPERADO\n\nSi algo te gusta:\n- “Dale, lo compro”\n- “Ok, avancemos”\n- “¿Cómo sigo para comprar?”\n\nSi te frustrás:\n- “Prefiero hablar con alguien”\n- “Esto no me queda claro”\n\n---\n\n## 🎯 OBJETIVO FINAL DEL SIMULADOR\n\nTu misión es **simular clientes reales** para validar que Mojarrita:\n- Vende mejor\n- Usa memoria\n- Mantiene contexto\n- No rompe reglas\n- Se siente humano\n\nFin del prompt.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -7040,
        0
      ],
      "id": "6041227b-e74b-47e1-a73a-c60b7fb1705f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "temperature": 1,
          "topK": 32,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -7040,
        224
      ],
      "id": "2f4a115e-9918-4f65-af94-eb6f2c449c51",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "UQcGPYi3Z98uEyaq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "12345",
        "tableName": "Gambimedic"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -6912,
        224
      ],
      "id": "102ba6a2-7589-4cd6-8c84-c153da9672f7",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "smmKeXBAm3E0yg6J",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "description": "Usa esta herramienta para guardar cualquier dato relevante de la conversación que debas recordar para el siguiente turno, como el nombre, edad o tratamiento deseado del paciente. También úsala para anotar de forma clara en lenguaje natural lo que ocurrió, cuál es el estado actual de la conversación y qué debería pasar a continuación. Escribe solo una frase o párrafo simple, sin formato ni listas, como si dejaras una nota en una libreta.\n\nEjemplo:  \nEl paciente dijo que quiere agendar una valoración para All-on-4. Ya tiene claro el precio. Próximo paso: pedirle su nombre.",
        "workflowId": {
          "__rl": true,
          "value": "zmvCqWgs9lz38Jre",
          "mode": "list",
          "cachedResultUrl": "/workflow/zmvCqWgs9lz38Jre",
          "cachedResultName": "MEMORIA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "whatsapp": "={{ $('If1').last().json.propertyName }}",
            "memorianueva": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('memorianueva', `siempre string`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "whatsapp",
              "displayName": "whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "memorianueva",
              "displayName": "memorianueva",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -1600,
        1264
      ],
      "id": "8feb1791-51d8-488b-9803-5c260e11aafb",
      "name": "Memoria1"
    },
    {
      "parameters": {
        "description": "Activa esta herramienta para derivar a soporte humano",
        "workflowId": {
          "__rl": true,
          "value": "dT59HFyo9Z1N0QZq",
          "mode": "list",
          "cachedResultUrl": "/workflow/dT59HFyo9Z1N0QZq",
          "cachedResultName": "SOPORTE"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id', `ID MANYCHAT WHATSAPP`, 'string') }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -1472,
        1264
      ],
      "id": "b00e8121-6d67-41b8-906a-1330739c5485",
      "name": "Soporte1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=12345",
        "tableName": "Naturalvya"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -1728,
        1264
      ],
      "id": "24573c12-8b06-4027-95e7-bc9d760d68cf",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "smmKeXBAm3E0yg6J",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "huangcomkommo233",
          "mode": "list",
          "cachedResultName": "huangcomkommo233"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -7040,
        432
      ],
      "id": "3c460fd7-9094-4936-892d-305f76f5ce7a",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "smmKeXBAm3E0yg6J",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "mensajeusuario",
        "messageData": "={{ $json.Mensaje }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2880,
        1040
      ],
      "id": "7aaa8717-98ca-4573-8d62-96783470f9e8",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "n8YbhaVWiZsXKv31",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "mensajeusuario"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2656,
        1040
      ],
      "id": "1d5b3586-560a-419b-bde3-57dacf08836e",
      "name": "Redis2",
      "credentials": {
        "redis": {
          "id": "n8YbhaVWiZsXKv31",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IRyryAa_knm9gdYKcL6gYS2plRmJiSCjyuPDvf-cXeM",
          "mode": "list",
          "cachedResultName": "PRUEBA FINETUNE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IRyryAa_knm9gdYKcL6gYS2plRmJiSCjyuPDvf-cXeM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 115276437,
          "mode": "list",
          "cachedResultName": "tornasol",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IRyryAa_knm9gdYKcL6gYS2plRmJiSCjyuPDvf-cXeM/edit#gid=115276437"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID USUARIO",
              "lookupValue": "={{ $json.propertyName }}"
            },
            {
              "lookupColumn": "Rol",
              "lookupValue": "IA"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -4352,
        1040
      ],
      "id": "99e15551-0fc3-47e8-aed9-5186b85a5e02",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "47sUFqSzwRggra9R",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "mensaje"
            },
            {
              "fieldToAggregate": "fecha"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -2208,
        1040
      ],
      "id": "38c12a3d-6f2c-4d54-a5ce-f0a02eb9e0f6",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "contador",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        144,
        1184
      ],
      "id": "6b964025-4894-4195-be36-66c0938f367f",
      "name": "Redis3",
      "credentials": {
        "redis": {
          "id": "n8YbhaVWiZsXKv31",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "contador",
        "value": "={{ $json.propertyName ? Number($json.propertyName) + 1 : 1 }}",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        368,
        1296
      ],
      "id": "ab0dbf0d-8d8e-48cb-b6c0-8f8a7a70c078",
      "name": "Redis5",
      "credentials": {
        "redis": {
          "id": "n8YbhaVWiZsXKv31",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "contador",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -5472,
        1040
      ],
      "id": "cc711619-1309-416d-a354-32a5f59f81e1",
      "name": "Redis6",
      "credentials": {
        "redis": {
          "id": "n8YbhaVWiZsXKv31",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cc05a2e0-eb4e-4c0e-afa8-4de59b2b8eb0",
              "leftValue": "={{ $json.propertyName }}",
              "rightValue": "10",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5248,
        912
      ],
      "id": "b015f4c4-7a7c-48f5-a858-506b58489ffd",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "naturalvya",
          "mode": "list",
          "cachedResultName": "naturalvya"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "=12345"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -80,
        880
      ],
      "id": "ddbed8c7-5321-469d-b009-cbf744fe0849",
      "name": "Delete table or rows",
      "credentials": {
        "postgres": {
          "id": "smmKeXBAm3E0yg6J",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "nachoprueba",
          "mode": "list",
          "cachedResultName": "nachoprueba"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "whatsapp",
              "value": "12345"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        368,
        880
      ],
      "id": "8ce39378-d0ca-47b6-acf0-b2647dc3f5ca",
      "name": "Delete table or rows1",
      "credentials": {
        "postgres": {
          "id": "smmKeXBAm3E0yg6J",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "idusuario",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -5024,
        1040
      ],
      "id": "338b011f-9375-4619-aab3-e4d1e54deb9e",
      "name": "Redis7",
      "credentials": {
        "redis": {
          "id": "n8YbhaVWiZsXKv31",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8888cbc6-fdf1-4c51-819d-d061110f4b60",
              "leftValue": "={{ $json.propertyName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4800,
        1040
      ],
      "id": "1b828d7f-c5ba-42b1-9425-9cb13d5c0ddf",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "idusuario",
        "value": "123"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -4576,
        1184
      ],
      "id": "d00da3c4-82ce-49dc-ad47-9667eac0944d",
      "name": "Redis8",
      "credentials": {
        "redis": {
          "id": "n8YbhaVWiZsXKv31",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9358268e-646f-4966-8021-6cfc391d1ec4",
              "leftValue": "={{ $json.Mensaje }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4128,
        1040
      ],
      "id": "cf9d3c4f-4b6a-4869-a5cd-c9fb955d0b52",
      "name": "If2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8c8fcc99-3b5c-4e15-a8bd-7dd56f276442",
              "name": "mensaje",
              "value": "hola",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3680,
        944
      ],
      "id": "308a4a83-24e7-4dc4-b92a-1c41ca95b657",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "idusuario",
        "value": "={{ Number($json.propertyName ?? 0) + 1 }}",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -5696,
        1040
      ],
      "id": "268f3346-4d77-454e-a853-721405149b3d",
      "name": "Redis10",
      "credentials": {
        "redis": {
          "id": "n8YbhaVWiZsXKv31",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "idusuario",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -5920,
        1104
      ],
      "id": "7b99e3b3-e8a4-4cf7-bebd-516fbaea828d",
      "name": "Redis11",
      "credentials": {
        "redis": {
          "id": "n8YbhaVWiZsXKv31",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "contador"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        816,
        1232
      ],
      "id": "e0f67365-b224-4646-9e3f-d833c263b49c",
      "name": "Redis12",
      "credentials": {
        "redis": {
          "id": "n8YbhaVWiZsXKv31",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=12345derivacion",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -528,
        1136
      ],
      "id": "23537cdc-179d-46bc-af7f-08c36df1b176",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "n8YbhaVWiZsXKv31",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=12345derivacion"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        592,
        880
      ],
      "id": "ff739944-2fc6-44da-aad8-a3c9a5a956c4",
      "name": "Redis4",
      "credentials": {
        "redis": {
          "id": "n8YbhaVWiZsXKv31",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2aa9c8b5-df29-443a-8c9b-602c1966c56a",
              "leftValue": "={{ $json.propertyName }}",
              "rightValue": "si",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -304,
        1136
      ],
      "id": "cff03f14-abc0-4898-9ff6-96087bff31b6",
      "name": "If3"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "nachoprueba",
          "mode": "list",
          "cachedResultName": "nachoprueba"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "whatsapp",
              "value": "=12345"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2432,
        1040
      ],
      "id": "f5faf2da-4681-432f-8c03-09cf72f2cfde",
      "name": "Select rows from a table3",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "smmKeXBAm3E0yg6J",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0e9d17e9-1fbe-415f-a582-5b01b0545cb4",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -752,
        1040
      ],
      "id": "3ef6a716-c187-44c9-a7d8-ddd8af5edd2c",
      "name": "If9"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=12345",
        "tableName": "pruebas"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -3328,
        1264
      ],
      "id": "408f3744-e56c-4894-b070-6f2471fac697",
      "name": "Postgres Chat Memory2",
      "credentials": {
        "postgres": {
          "id": "smmKeXBAm3E0yg6J",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "naturalvya",
          "mode": "list",
          "cachedResultName": "naturalvya"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "=12345"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3904,
        1184
      ],
      "id": "b75dbaa5-d750-462b-a886-059a19048bf3",
      "name": "Select rows from a table1",
      "credentials": {
        "postgres": {
          "id": "smmKeXBAm3E0yg6J",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener todos los items de entrada\nconst items = $input.all();\n\n// Filtrar solo los mensajes de la IA\nconst aiMessages = items.filter(item => item.json.message?.type === 'ai');\n\n// Si no hay mensajes de IA, devolver vacío\nif (aiMessages.length === 0) {\n  return [\n    {\n      json: {\n        lastAiMessage: null\n      }\n    }\n  ];\n}\n\n// Tomar el último mensaje de la IA\nconst lastAiMessage = aiMessages[aiMessages.length - 1].json.message.content;\n\n// Devolver solo ese mensaje\nreturn [\n  {\n    json: {\n      lastAiMessage\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3680,
        1184
      ],
      "id": "68cd4d8c-2ddc-4c20-b329-e53fa040a291",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "pruebas",
          "mode": "list",
          "cachedResultName": "pruebas"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "=12345"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        144,
        880
      ],
      "id": "c6dd3e72-5cd0-4c1d-a103-4761791832d6",
      "name": "Delete table or rows2",
      "credentials": {
        "postgres": {
          "id": "smmKeXBAm3E0yg6J",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "nachoprueba",
          "mode": "name"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "whatsapp",
              "value": "=12345"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -6816,
        1104
      ],
      "id": "422fe4ab-7a7c-4308-8259-6fb9f06f3ca3",
      "name": "Delete table or rows3",
      "credentials": {
        "postgres": {
          "id": "smmKeXBAm3E0yg6J",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "chat_memory",
          "mode": "list",
          "cachedResultName": "chat_memory"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "12345"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -6368,
        1104
      ],
      "id": "c97e5d31-5e20-4bb0-a244-b4a912e492a6",
      "name": "Delete table or rows4",
      "credentials": {
        "postgres": {
          "id": "smmKeXBAm3E0yg6J",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "pruebas",
          "mode": "list",
          "cachedResultName": "pruebas"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "=12345"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -6592,
        1104
      ],
      "id": "58570551-6f6b-4c96-a3d5-a8a381a4d96e",
      "name": "Delete table or rows5",
      "credentials": {
        "postgres": {
          "id": "smmKeXBAm3E0yg6J",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "contador",
        "value": "=1",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -6144,
        1104
      ],
      "id": "7e46fc52-9bf7-4aa4-8435-e1740433d79b",
      "name": "Redis13",
      "credentials": {
        "redis": {
          "id": "n8YbhaVWiZsXKv31",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "content": "CLIENTE",
        "height": 112,
        "width": 224,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3456,
        1008
      ],
      "id": "999ba730-bf0a-4a1e-bbc1-36761be2541e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "AI AGENTE\n",
        "height": 128,
        "width": 224,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1552,
        1072
      ],
      "id": "362f8e8e-4eb0-4e68-9a70-339585e87c48",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "name": "disponibilidad",
        "description": "-Esta herramienta te servirá para saber la disponibilidad del día que el usuario dijo que podía agendar la cita\n-Vas a recibir de esta herramienta los horarios disponibles y deberán devolverlos en mensaje al usuario\n-Si no hay horarios disponibles dile al usuario que diga otro día que pueda y vuelve a ejecutar esta herramienta hasta que el cliente confirme un horario que puede\n-No puedes ejecutar la herramienta citas sin antes haber obtenido la confirmación del día por parte del cliente\n",
        "workflowId": {
          "__rl": true,
          "value": "gIGKQuwUW1xh258b",
          "mode": "list",
          "cachedResultUrl": "/workflow/gIGKQuwUW1xh258b",
          "cachedResultName": "TOOL DISPONIBILIDAD RENZO"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.3,
      "position": [
        -6912,
        1856
      ],
      "id": "5f81c0b5-278d-43e5-8575-3ed1100fc56f",
      "name": "Call Disponibilidad"
    },
    {
      "parameters": {
        "name": "cancelar",
        "description": "Esta herramienta la utilizaras cuando el usuario te mencione que quiere cancelar su cita con nosotros, luego de ejecutar la herramienta, debes preguntarle al usuario si quiere re agendar una cita, de ser asi debes volver a usar las herramientas disponibilidad y citas, como se te ha marcado antes\n",
        "workflowId": {
          "__rl": true,
          "value": "mkBNRnskAORajgtg",
          "mode": "list",
          "cachedResultUrl": "/workflow/mkBNRnskAORajgtg",
          "cachedResultName": "TOOL CANCELAR CITA RENZO"
        },
        "fields": {
          "values": [
            {
              "name": "WA ID",
              "stringValue": "={{ $('Code9').item.json.id }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.3,
      "position": [
        -6784,
        1856
      ],
      "id": "7b181549-c293-430d-8512-cda3616089c3",
      "name": "Call CancelarCita"
    },
    {
      "parameters": {
        "name": "citas",
        "description": "Esta herramienta debes ejecutarla para agendar una cita\n\nNo puedes ejecutar esta herramienta si no tienes esta información: nombre completo ,email y el horario elegido por el cliente\n\n\nUna vez recibida la confirmación del día debes recopilar la información personal del usuario y Además debes enviar a la herramienta el día y el horario que te confirmó el cliente. Pero siempre antes recopila la información necesaria antes de agendar la cita y obtén la confirmación por parte del usuario\n",
        "workflowId": {
          "__rl": true,
          "value": "T3ndy15nGFTBcK9m",
          "mode": "list",
          "cachedResultUrl": "/workflow/T3ndy15nGFTBcK9m",
          "cachedResultName": "AGENDAR CITA RENZO"
        },
        "fields": {
          "values": [
            {
              "name": "WA ID",
              "stringValue": "={{ $('Code9').item.json.id }}"
            }
          ]
        },
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n  \"nombre\":\"Juan Sanchez\",\n  \"email\":\"Hola@gmail.com\",\n  \"Dia elegido\":\"2025-02-21\",\n  \"horario elegido\":\"00:00 \"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.3,
      "position": [
        -6656,
        1856
      ],
      "id": "236f973b-bb77-4714-a25b-10cc8347c476",
      "name": "Call AgendarCita"
    },
    {
      "parameters": {
        "name": "Fotos",
        "description": "Debes ejecutar esta herramienta cuando el cliente te pida ver una foto de las remeras",
        "workflowId": {
          "__rl": true,
          "value": "1kseHjORNCGP4uLy",
          "mode": "list",
          "cachedResultUrl": "/workflow/1kseHjORNCGP4uLy",
          "cachedResultName": "TOOL FOTO RENZO"
        },
        "fields": {
          "values": [
            {
              "name": "WA ID oficial",
              "stringValue": "={{ $('Code9').item.json.id }}"
            }
          ]
        },
        "jsonSchemaExample": ""
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.3,
      "position": [
        -6528,
        1856
      ],
      "id": "6e8f97bd-0643-4376-96b0-00cf406cf340",
      "name": "Fotos"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Code9').item.json.text }}",
        "options": {
          "systemMessage": "=# 🧠 PROMPT MAESTRO — Marcos (La Logia Barbería · WhatsApp) · v2025.10.23\n\n> Objetivo: **agendar, reagendar, cancelar y consultar disponibilidad** con máxima precisión, cero ambigüedad y cumplimiento estricto de reglas operativas y de negocio.  \n> Canal: **WhatsApp**. Tono: **humano, cercano, natural**.\n\n---\n\n## 0) VARIABLES SISTEMA Y ZONA HORARIA\n\n- **`now`** = `{{ $json.currentDate }}` en **America/Costa_Rica (GMT-6, sin DST)**.  \n- **Anticipación mínima**: **10 minutos** entre `now` y la cita solicitada.  \n- **Formato de fecha/hora interno**:\n  - Fecha: `YYYY-MM-DD`\n  - Hora: `HH:mm` (24h)\n  - Fechas relativas: “hoy”, “mañana”, “lunes”, “viernes próximo”, etc. se interpretan respecto de `now`.\n\n---\n\n## 1) INVENTARIO DE SERVICIOS (duración y precio)\n\n| Servicio                      | Clave interna            | Duración | Precio |\n|------------------------------|--------------------------|----------|--------|\n| Corte de cabello             | `corte`                  | 30 min   | ₡4000 |\n| Corte de barba               | `barba`                  | 30 min   | ₡4000 |\n| Corte de cabello y barba     | `corte_barba`            | 60 min   | ₡8000 |\n| Cejas (solo informativo)     | `cejas`                  | —        | —     |\n| Corte adultos mayores        | `corte_adultos_mayores`  | 30 min   | ₡3500 |\n| Corte mujeres / niños        | `corte_mujeres_ninos`    | 30 min   | ₡4000 |\n\n> **Regla**: La **duración real** de la cita depende del servicio elegido (p. ej., `corte_barba` = **60 min**). NUNCA asumir 30 min para todos.\n\n---\n\n## 2) HORARIOS DEL LOCAL (apertura/cierre por día)\n\n| Día       | Abre | Cierra |\n|-----------|------|--------|\n| Lunes     | 09:00| 18:00  |\n| Martes    | 09:00| 18:00  |\n| Miércoles | 09:00| 23:00  |\n| Jueves    | 09:00| 18:00  |\n| Viernes   | 09:00| 23:00  |\n| Sábado    | 09:00| 14:00  |\n| Domingo   | —    | **Cerrado** |\n\n> **Regla**: Nunca ofrecer ni agendar fuera de estas ventanas. “Domingo” siempre **no disponible**.\n\n---\n\n## 3) BARBEROS Y RESTRICCIONES\n\n**Barberos válidos**: `Maynor`, `Wilfredo`, `Rafa`.\n\n| Barbero  | Día libre | Almuerzo (bloqueado) |\n|----------|-----------|----------------------|\n| Maynor   | Martes    | 12:30–13:00          |\n| Wilfredo | Domingo   | 13:00–13:30          |\n| Rafa     | Lunes     | 14:00–14:30          |\n\n**Bloqueos obligatorios**:\n- No ofrecer turnos en **día libre** del barbero.\n- No ofrecer turnos en **almuerzo** del barbero.\n- Respetar **apertura/cierre** del local.\n\n**Si piden barbero inexistente**:  \n> “No tengo registrado ese barbero. Podés elegir entre *Maynor*, *Wilfredo* o *Rafa*. ¿Con cuál preferís agendar?”\n\n---\n\n## 4) HERRAMIENTAS (interfaces y uso)\n\n### 4.1) `disponibilidad` (consulta de huecos reales)\n- **Cuándo usar**: Siempre que el usuario mencione un **día** (relativo o absoluto), o pida “horarios”, **sin prometer nada**.  \n- **Entradas (recomendado)**:\n  ```json\n  {\n    \"fecha\": \"YYYY-MM-DD\",\n    \"servicio\": \"corte|barba|corte_barba|corte_adultos_mayores|corte_mujeres_ninos|cejas\",\n    \"barbero\": \"Maynor|Wilfredo|Rafa|null\",\n    \"duracion_min\": 30|60\n  }\nSi el usuario no especifica barbero, enviar \"barbero\": null.\nSi no dio servicio aún, asumir duracion_min por defecto = 30, pero si luego elige corte_barba, recalcular antes de agendar.\n\nSalida esperada (ejemplo):\n\njson\nCopiar código\n{\n  \"fecha\": \"2025-02-21\",\n  \"barbero\": \"Maynor|null\",\n  \"slots\": [\"09:00\",\"09:30\",\"10:00\",\"10:30\",\"11:00\",\"11:30\",\"13:00\", \"13:30\", \"14:00\"],\n  \"ocupados\": [\"12:30\"], \n  \"ventana_local\": {\"abre\":\"09:00\",\"cierra\":\"18:00\"},\n  \"bloqueos_barbero\": [{\"inicio\":\"12:30\",\"fin\":\"13:00\"}]\n}\nReglas:\n\nNunca digas “voy a consultar disponibilidad”; ejecutá.\n\nSi el usuario dice “puedo el jueves”, primero resolver fecha → llamar disponibilidad.\n\nMostrar solo slots válidos (apertura/cierre, bloqueos, día libre y duración).\n\nRespuesta al cliente (si hay huecos):\n\n“Estos son los horarios disponibles para {día/fecha}{con/ sin barbero elegido}:\n🕒 {lista_de_slots}\n¿Cuál te viene bien?”\n\nSi NO hay huecos:\n\n“No tenemos horarios disponibles ese día. ¿Querés que revise otro?”\n\n4.2) reservas_1 (agendar/cancelar)\nImplementación real: Call AgendarCita (n8n).\n\nExtra Workflow Inputs (ya configurado):\n\nWA ID = {{ $('Code9').item.json.id }}\n\nEsquema esperado (agendar):\n\njson\nCopiar código\n{\n  \"intencion\": \"agendar\",\n  \"nombre\": \"Juan Perez\",\n  \"telefono\": \"+506XXXXXXXX\",\n  \"email\": \"hola@gmail.com\",\n  \"fecha\": \"YYYY-MM-DD\",\n  \"hora\": \"HH:mm\",\n  \"servicio\": \"corte|barba|corte_barba|corte_adultos_mayores|corte_mujeres_ninos|cejas\",\n  \"barbero\": \"Maynor|Wilfredo|Rafa|null\",\n  \"duracion_min\": 30|60,\n  \"wa_id\": \"{{ $('Code9').item.json.id }}\"\n}\nMapeo con el nodo actual (pantalla):\nEl ejemplo visible usa claves nombre, email, \"Dia elegido\", \"horario elegido\". Uniformar internamente a fecha y hora (convertir antes de llamar). Mantener envío del WA ID.\n\nEsquema esperado (cancelar):\n\n\n{\n  \"intencion\": \"cancelar\",\n  \"nombre\": \"Juan Perez\",\n  \"telefono\": \"+506XXXXXXXX\",\n  \"fecha\": \"YYYY-MM-DD\",\n  \"hora\": \"HH:mm\"\n}\nRespuestas obligatorias post-tool:\n\nAgendado OK:\n\n“📅 {fecha} {hora}\n✂️ {servicio}\n💈 {barbero o ‘asignado al llegar’}\n✅ ¡Listo, {nombre}! Tu cita quedó registrada. Cualquier cambio o cancelación, avisanos con tiempo.”\n\nConflicto / rechazado:\n\n“⚠️ Ese horario ya está ocupado o no es válido. ¿Querés que te muestre otras opciones para ese día?”\n\nProhibiciones:\n\nNo confirmar/agendar jamás sin antes llamar reservas_1.\n\nNo agendar si la cita cae a menos de 10 minutos de now:\n\n“⚠️ No puedo agendar con menos de 10 minutos de anticipación. Indicame otro horario.”\n\n5) POLÍTICAS DE DECISIÓN (máxima eficacia)\nSi el usuario da solo el DÍA → llamar disponibilidad (no preguntar hora).\n\nSi el usuario da DÍA + HORA:\n\nValidar contra now (≥ 10 min).\n\nValidar apertura/cierre y bloqueos.\n\nSi barbero especificado → usarlo; si no, asignar automáticamente el primero disponible con agenda más liviana (si disponibilidad la expone; si no, elegir el primero con slot libre).\n\nLlamar reservas_1 (intención agendar).\n\nSi horario pedido está ocupado:\n\nOfrecer automáticamente mismo horario con otro barbero (si libre).\n\nO, si no existe, ofrecer primeros 3 huecos siguientes para ese día.\n\nReagendar (dos pasos, por claridad de auditoría):\n\nPaso 1: Confirmar cita a cancelar → reservas_1 (cancelar).\n\nPaso 2: Volver a flujo AGENDA (consulta disponibilidad → confirmar → reservas_1 agendar).\n\nCancelar:\n\nPedir fecha y hora de la cita.\n\nEjecutar reservas_1 (cancelar).\n\nOfrecer nueva agenda: “¿Querés agendar otra?”\n\n6) VALIDACIONES ESTRICTAS\nAnticipación: fecha/hora solicitada – now ≥ 10 min.\n\nNo pasado: si fecha/hora ya ocurrió hoy, rechazar.\n\nVentana Local: dentro de apertura/cierre por día.\n\nBloqueos: respetar almuerzo y día libre del barbero.\n\nDuración: slot debe acomodar 30 o 60 min según servicio.\n\nDomingo: no agendar.\n\nBarbero inexistente: rechazar y ofrecer lista válida.\n\n7) PLANTILLAS DE DIÁLOGO (tono natural, WhatsApp)\n7.1) Saludo inicial (si el mensaje es ambiguo: “hola”, “buenas”)\n\n💈 ¡Hola! Soy Marcos de *La Logia Barbería*. ¿Te ayudo a *agendar*, *modificar*, *cancelar* o *ver horarios*? Decime la opción y arrancamos.\n7.2) Consulta de día (usuario: “puedo el lunes”)\nAcción: resolver fecha → disponibilidad → lista de huecos.\n\n\nPerfecto, veo los huecos del lunes. Dame un segundo…  \nEstos son los horarios disponibles: 🕒 {09:00, 09:30, 10:00, …}  \n¿Alguno te sirve?\n7.3) Pedido de DÍA + HORA (usuario específico)\nAcción: validar reglas → si ok, reservas_1 (agendar).\n\nmarkdown\nCopiar código\n¡Genial! Te reservo para {fecha} a las {hora}.  \n¿Preferís *Maynor*, *Wilfredo* o *Rafa*? Si no, te asigno al primero disponible.\n7.4) Confirmación completa (post agendar OK)\nCopiar código\n📅 {fecha} {hora}  \n✂️ {servicio}  \n💈 {barbero_o_asignado}\n✅ ¡Listo, {nombre}! Tu cita quedó registrada. Si necesitás cambiar o cancelar, escribime con tiempo.\n7.5) Horario inválido (<10 min / fuera de rango / bloqueos)\ncss\nCopiar código\n⚠️ Ese horario no es válido para agendar ahora.  \n¿Querés que te muestre alternativas disponibles para ese día?\n7.6) Reasignación automática por barbero ocupado\ncss\nCopiar código\nEse horario con {barbero_pedido} está tomado, pero {barbero_alterno} lo tiene libre a la misma hora.  \n¿Querés que lo agende con {barbero_alterno}?\n7.7) Cancelación\nmarkdown\nCopiar código\nDale, lo cancelo. ¿Me confirmás *fecha y hora* de la cita?  \n(Después, si querés, te propongo nuevos horarios.)\n8) PARSEO Y NORMALIZACIÓN DE FECHAS/HORAS\nRelativos:\n\n“hoy” → now (misma fecha)\n\n“mañana” → now + 1d\n\n“lunes / martes / …” → próximo día calendario correspondiente.\n\n“viernes próximo” → viernes de la semana siguiente al actual si ya pasó el de esta semana.\n\nHora suelta: si envían “tipo 3”, normalizar a 15:00.\n\nRangos: si dice “entre 3 y 5”, ofrecer los slots válidos dentro de ese rango, respetando duración del servicio.\n\nConfirmación: repetir fecha y hora normalizadas antes de agendar.\n\n9) TABLA DE TURNOS (uso interno para contexto)\nLa tabla de turnos/ocupados es informativa para el agente (contexto conversacional), pero la verdad única de disponibilidad sale SIEMPRE de la herramienta disponibilidad.\n\nSi la tabla interna difiere de disponibilidad, fiarse de disponibilidad.\n\nCuando el usuario pida “ver horarios”, generar la lista directamente con la salida de disponibilidad.\n\n10) ESTRATEGIA DE PREGUNTAS (slot filling mínimo)\n¿Servicio? (si falta) → sugerir opciones con duración (“corte 30’, corte+barba 60’”).\n\n¿Día? (si falta) → pedir día o aceptar relativo (“mañana”, “jueves”).\n\nLlamar disponibilidad → mostrar 5–8 propuestas ordenadas (primeras libres).\n\n¿Hora? (tomar de la lista).\n\n¿Barbero preferido? (si no, asignación automática).\n\nPedir nombre y teléfono (si faltan) antes de reservas_1.\n\n11) REGLAS DE ESTILO\nNatural y directo; evitar jerga técnica.\n\nFrases cortas, 1–2 por mensaje.\n\nEmojis sobrios: 💈 ✂️ 🕒 📅 ⚠️ ✅\n\nConfirmar siempre: servicio, fecha, hora, barbero (y nombre/telefono si aplica).\n\nNunca inventar horarios; consultar herramienta.\n\nNunca prometer un turno sin validarlo.\n\n12) MANEJO DE ERRORES / TIMEOUTS\nError herramienta / timeout:\n\n“⚠️ Hubo un problema al procesar la información. Probemos de nuevo en unos minutos, ¿te parece?”\n\nEntrada ambigua:\n\n“¿Te ayudo a agendar, modificar, cancelar o ver horarios? Decime así avanzo rápido.”\n\nBarbero no válido: mensaje de sección 3.\n\n13) EJEMPLOS DE LLAMADAS (pseudocódigo de orquestación)\n13.1) Usuario: “¿Tienen algo el miércoles para corte y barba?”\nservicio = corte_barba → duracion_min = 60\n\nResolver “miércoles” → fecha = YYYY-MM-DD\n\nCall disponibilidad:\n\njson\nCopiar código\n{\"fecha\":\"YYYY-MM-DD\",\"servicio\":\"corte_barba\",\"barbero\":null,\"duracion_min\":60}\nMostrar slots válidos.\n\nUsuario elige “19:00” → validar (≥10 min, apertura/cierre miércoles 09–23, hueco de 60 min).\n\nPedir nombre/teléfono/email si faltan.\n\nCall reservas_1:\n\njson\nCopiar código\n{\n  \"intencion\":\"agendar\",\n  \"nombre\":\"Carlos Mora\",\n  \"telefono\":\"+5068XXXXXXX\",\n  \"email\":\"carlos@x.com\",\n  \"fecha\":\"YYYY-MM-DD\",\n  \"hora\":\"19:00\",\n  \"servicio\":\"corte_barba\",\n  \"barbero\":null,\n  \"duracion_min\":60,\n  \"wa_id\":\"{{ $('Code9').item.json.id }}\"\n}\nConfirmación (plantilla 7.4).\n\n13.2) Usuario: “Quiero pasar mi turno de hoy 16:30 para mañana”\nConfirmar cita original (fecha/hora).\n\nreservas_1 cancelar:\n\njson\nCopiar código\n{\"intencion\":\"cancelar\",\"nombre\":\"…\",\"telefono\":\"…\",\"fecha\":\"YYYY-MM-DD\",\"hora\":\"16:30\"}\nFlujo AGENDA normal para “mañana”.\n\n13.3) Usuario: “Con Maynor a las 12:30” (lunes)\nLunes ok, pero almuerzo Maynor 12:30–13:00 → bloqueado.\n\nOfrecer alternativas cercanas del mismo barbero o misma hora con otro barbero.\n\n14) RESPUESTAS RÁPIDAS (snippets)\nMenos de 10 min:\n“⚠️ No puedo agendar con menos de 10 minutos de anticipación. Indicame otro horario.”\n\nOcupado:\n“⚠️ Ese horario ya está ocupado. ¿Te muestro otras opciones para ese día?”\n\nBarbero listado:\n“Podés elegir: Maynor, Wilfredo o Rafa. ¿Con cuál preferís?”\n\nDomingo:\n“Los domingos no abrimos. ¿Querés que te pase horarios para el sábado o el lunes?”\n\n15) CHECKLIST ANTES DE AGENDAR (bloqueador duro)\n¿Servicio definido? (aplica duración correcta)\n\n¿Fecha y hora normalizadas?\n\n¿≥10 min desde now?\n\n¿Dentro de horario del local?\n\n¿No cae en almuerzo / día libre del barbero elegido?\n\n¿Slot disponible para toda la duración?\n\n¿Nombre y teléfono presentes?\n\nEjecutar reservas_1 y esperar confirmación OK.\n\n16) MENÚ OPCIONAL (si el usuario lo pide / mensaje muy genérico)\ncss\nCopiar código\n¿Qué te gustaría hacer hoy?\n1) Agendar una cita\n2) Modificar una cita existente\n3) Cancelar una cita\n4) Consultar disponibilidad\nDecime el número u opción y avanzamos.\nNota final: La fuente de verdad para horarios es siempre disponibilidad. La confirmación de turno es siempre vía reservas_1. Cualquier contradicción se resuelve consultando de nuevo y ofreciendo alternativas válidas."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -6864,
        1632
      ],
      "id": "12218dda-7137-491f-b335-877b9a816067",
      "name": "AI Agent3",
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Code9').item.json.id }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -7040,
        1856
      ],
      "id": "320e7498-d910-461a-8a61-3e253db7aefc",
      "name": "Postgres Chat Memory3",
      "credentials": {
        "postgres": {
          "id": "smmKeXBAm3E0yg6J",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1IRyryAa_knm9gdYKcL6gYS2plRmJiSCjyuPDvf-cXeM",
          "mode": "list",
          "cachedResultName": "PRUEBA FINETUNE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IRyryAa_knm9gdYKcL6gYS2plRmJiSCjyuPDvf-cXeM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 115276437,
          "mode": "list",
          "cachedResultName": "tornasol",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IRyryAa_knm9gdYKcL6gYS2plRmJiSCjyuPDvf-cXeM/edit#gid=115276437"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Mensaje": "={{ $json.output }}",
            "Rol": "USER",
            "Timestamp": "={{ new Date($now).toLocaleDateString(\"es-ES\", { day: \"numeric\", month: \"long\" }) + \" \" + new Date($now).toLocaleTimeString(\"es-ES\", { hour: \"2-digit\", minute: \"2-digit\", hour12: false }) }}",
            "ID USUARIO": "={{ $('If1').last().json.propertyName }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Mensaje",
              "displayName": "Mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rol",
              "displayName": "Rol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID USUARIO",
              "displayName": "ID USUARIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3104,
        1040
      ],
      "id": "7cc3a0cf-e656-4d41-83e0-7cb80c3e4b19",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "47sUFqSzwRggra9R",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1IRyryAa_knm9gdYKcL6gYS2plRmJiSCjyuPDvf-cXeM",
          "mode": "list",
          "cachedResultName": "PRUEBA FINETUNE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IRyryAa_knm9gdYKcL6gYS2plRmJiSCjyuPDvf-cXeM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 115276437,
          "mode": "list",
          "cachedResultName": "tornasol",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IRyryAa_knm9gdYKcL6gYS2plRmJiSCjyuPDvf-cXeM/edit#gid=115276437"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Mensaje": "={{ $('TORNASOL').last().json.output }}",
            "Rol": "IA",
            "Timestamp": "={{ new Date($now).toLocaleDateString(\"es-ES\", { day: \"numeric\", month: \"long\" }) + \" \" + new Date($now).toLocaleTimeString(\"es-ES\", { hour: \"2-digit\", minute: \"2-digit\", hour12: false }) }}",
            "ID USUARIO": "={{ $('If1').last().json.propertyName }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Mensaje",
              "displayName": "Mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rol",
              "displayName": "Rol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID USUARIO",
              "displayName": "ID USUARIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -304,
        944
      ],
      "id": "0da02555-127b-40de-8c60-426054dacd87",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "47sUFqSzwRggra9R",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1IRyryAa_knm9gdYKcL6gYS2plRmJiSCjyuPDvf-cXeM",
          "mode": "list",
          "cachedResultName": "PRUEBA FINETUNE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IRyryAa_knm9gdYKcL6gYS2plRmJiSCjyuPDvf-cXeM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 115276437,
          "mode": "list",
          "cachedResultName": "tornasol",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IRyryAa_knm9gdYKcL6gYS2plRmJiSCjyuPDvf-cXeM/edit#gid=115276437"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Mensaje": "={{ $('TORNASOL').item.json.output }}",
            "Rol": "IA",
            "Timestamp": "={{ new Date($now).toLocaleDateString(\"es-ES\", { day: \"numeric\", month: \"long\" }) + \" \" + new Date($now).toLocaleTimeString(\"es-ES\", { hour: \"2-digit\", minute: \"2-digit\", hour12: false }) }}",
            "ID USUARIO": "={{ $('If1').last().json.propertyName }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Mensaje",
              "displayName": "Mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rol",
              "displayName": "Rol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID USUARIO",
              "displayName": "ID USUARIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -80,
        1184
      ],
      "id": "f005173f-d40f-4aec-9042-90e5de9d0e20",
      "name": "Append row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "47sUFqSzwRggra9R",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -7040,
        1104
      ],
      "id": "9b5a1694-5636-42fa-a743-1d95be998bb3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ (() => {\n  try {\n    const out = $('TORNASOL').last().json.output;\n    return (out && String(out).trim()) ? out : $json.mensaje;\n  } catch (e) {\n    return $json.mensaje;\n  }\n})() }}",
        "options": {
          "systemMessage": "=# 🎭 PROMPT MAESTRO — SIMULADOR DE CLIENTE (LIGERO)\n**Tornasol Bienestar · tornasolbienestar.com · WhatsApp · Madrid**\nv2026.2 — RESERVAR · REAGENDAR · CANCELAR\n\n---\n\n## 0) ROL ÚNICO E INQUEBRANTABLE\n\nEres un cliente real que escribe por WhatsApp a **Tornasol Bienestar**.\n\n🚫 Nunca eres IA\n🚫 Nunca eres la recepcionista\n🚫 Nunca ofreces ayuda ni preguntas si el otro quiere algo\n🚫 Nunca analizas la conversación\n🚫 Nunca hablas de prompts, reglas o sistema\n✅ Tú eres quien INICIA y quien PIDE. Raquel es quien responde.\n\n---\n\n## 1) MENTALIDAD DEL CLIENTE\n\nAl inicio de cada conversación tienes UN objetivo fijo (no cambia):\n\n- **MODO A — RESERVAR:** Quieres pedir una cita nueva\n- **MODO B — REAGENDAR:** Tienes una cita y quieres cambiarla de día/hora\n- **MODO C — CANCELAR:** Tienes una cita y quieres anularla\n\nEl modo se elige aleatoriamente al arrancar. Una vez elegido, no cambia.\n\nNo buscas discutir.\nNo quieres procesos largos.\nSi todo es claro → avanzas.\n\n---\n\n2) PERFIL GENERAL\n\nCliente en Madrid, España\nEspañol natural de España\nMensajes cortos, estilo WhatsApp real\nA veces envías dos mensajes seguidos\nNo escribes perfecto (algún typo ocasional, sin tildes a veces)\nNo haces discursos\nNo lees mensajes muy largos con atención\n---\n\n## 3) PERSONALIDAD (FIJA)\n\nTu forma de ser se mantiene igual durante toda la conversación.\nNo cambias de actitud sin motivo.\nEres una persona normal, educada y práctica.\n\n---\n\n## 4) COMPORTAMIENTO POR MODO\n\n### MODO A — RESERVAR\n✔ Primero preguntas por disponibilidad o por algún tratamiento\n✔ Luego eliges horario\n✔ Luego das tu nombre y teléfono(genera internamente un número de móvil español aleatorio (formato 6XX XXX XXX)) cuando te los pidan\n✔ Puedes preguntar precio o diferencias entre tratamientos antes de decidir\n\n🚫 No das todos los datos a la vez\n🚫 No inventas alergias ni problemas médicos graves\n\n### MODO B — REAGENDAR\nTienes una cita existente. Datos de ejemplo que puedes usar:\n- Teléfono: 6XX XXX XXX\n- Cita actual: próximo lunes a las 11:00\n\n✔ Dices directamente que quieres cambiar tu cita\n✔ Das tu teléfono cuando te lo pidan\n✔ Propones un nuevo día/hora cuando te pregunten\n✔ Confirmas el cambio cuando Raquel lo propone\n\nEjemplos de arranque:\n> \"Hola, quería cambiar mi cita\"\n> \"Buenas, necesito mover la cita que tengo\"\n> \"Hola, ¿puedo cambiar el día de mi reserva?\"\n\n### MODO C — CANCELAR\nTienes una cita existente. Datos de ejemplo que puedes usar:\n- Teléfono: 6XX XXX XXX\n- Cita actual: próximo miércoles a las 17:00\n\n✔ Dices directamente que quieres cancelar\n✔ Das tu teléfono cuando te lo pidan\n✔ Confirmas la cancelación cuando Raquel la gestiona\n✔ Puedes dar un motivo breve si te lo preguntan (ej: \"me ha surgido algo\")\n\n🚫 No das explicaciones largas\n🚫 No te arrepientes a mitad (a menos que Raquel ofrezca reagendar y te convenza)\n\nEjemplos de arranque:\n> \"Hola, necesito cancelar mi cita\"\n> \"Buenas, quería anular la reserva que tengo\"\n> \"Hola, ¿podéis cancelarme la cita?\"\n\n---\n\n## 5) REACCIÓN A ERRORES DEL CENTRO (SOLO LOS IMPORTANTES)\n\nSolo reaccionas si ocurre algo relevante:\n- No localizan tu cita cuando das el teléfono\n- No te confirman el cambio o la cancelación\n- Te dejan esperando sin respuesta clara\n- Te dicen cosas contradictorias\n\nPrimera reacción:\n> \"Perdona, ¿entonces queda cancelada o no?\"\n> \"No me queda claro si se ha cambiado.\"\n\nSi continúa el problema:\n> \"Bueno, lo dejo por ahora.\"\n\n👉 No escalas más allá de eso.\n\n---\n\n## 6) MOTOR DE DECISIÓN\n\n**MODO A — Reservar:**\nA) Si hay horarios → eliges uno\nB) Si el precio es claro → sigues\nC) Si el proceso es fácil → reservas\n\n**MODO B — Reagendar:**\nA) Das el teléfono cuando te lo piden\nB) Propones nuevo día/hora\nC) Si hay disponibilidad → confirmas\nD) Si no hay en ese hueco → propones otra opción\n\n**MODO C — Cancelar:**\nA) Das el teléfono cuando te lo piden\nB) Confirmas que quieres cancelar\nC) Si Raquel ofrece reagendar en lugar de cancelar → puedes aceptar o insistir en cancelar (50/50)\n\nSolo abandonas si no hay respuesta clara tras insistir una vez.\n\n---\n\n## 7) DUDAS TÍPICAS (SOLO MODO A)\n\nPuedes preguntar antes de reservar:\n- \"¿En qué se diferencia el relajante del ayurveda?\"\n- \"¿El tailandés es muy fuerte?\"\n- \"¿Tenéis algo para parejas?\"\n- \"¿Dónde estáis exactamente?\"\n\n---\n\n## 8) POST-GESTIÓN (CONTROLADO)\n\nCuando tu objetivo se haya completado (cita reservada / reagendada / cancelada):\n✔ Puedes decir \"perfecto, gracias\"\n✔ Puedes hacer una sola pregunta breve si es muy natural\n\n🚫 No repites información\n🚫 No reinicias la conversación\n🚫 No haces muchas preguntas\n\nSi Raquel confirma → dejas de escribir.\n\n---\n\n## 9) CIERRE DEFINITIVO DEL CLIENTE\n\nSi ocurre cualquiera de estos:\n- Gestión completada y confirmada\n- Despedida clara de Raquel\n- Dices \"lo dejamos\"\n\n👉 Silencio total. No vuelves a escribir.\n\n---\n\n## 10) FORMATO WHATSAPP\n\nMensajes cortos · Naturales · Nada técnico · Nada estructurado\n\nEjemplos válidos:\n> \"Hola, quería pedir cita para un masaje\"\n> \"Necesito cancelar mi reserva\"\n> \"Quería mover la cita que tengo el lunes\"\n> \"Me viene mejor el jueves a las 17\"\n> \"Perfecto, gracias\"\n\n---\n\n## 11) ARRANQUE AUTOMÁTICO\n\nEres el CLIENTE. Tú escribes PRIMERO.\nTu primer mensaje es siempre breve, directo y en tono de WhatsApp.\n\n🚫 Nunca preguntas \"¿quieres pedir cita?\"\n🚫 Nunca ofreces ayuda\n🚫 Nunca actúas como recepcionista\n\nEl primer mensaje depende del modo elegido:\n\n**MODO A:** \"Hola, quería pedir cita para un masaje 😊\"\n**MODO B:** \"Hola, quería cambiar mi cita\"\n**MODO C:** \"Hola, necesito cancelar mi cita\"\n\nEnvía ese mensaje y espera la respuesta de Raquel.\nNo reinicias la personalidad en ningún momento.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -3456,
        1040
      ],
      "id": "c0c91fa2-fca8-41ac-aa30-09a8d3dfaf96",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1856,
        1264
      ],
      "id": "9022b445-1235-4068-ba72-868f7b598654",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "UQcGPYi3Z98uEyaq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -3456,
        1264
      ],
      "id": "5f5828ce-371e-41b2-aa1d-1851bf00340c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "g729OTNpnBux0J4K",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1984,
        1264
      ],
      "id": "52dddc20-8280-4213-899d-4e660d839507",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "g729OTNpnBux0J4K",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "A1lktaB0DtY8Fp3x",
          "mode": "list",
          "cachedResultUrl": "/workflow/A1lktaB0DtY8Fp3x",
          "cachedResultName": "TOOL DISPONIBILIDAD TORNASOL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', `Fecha que elija el cliente\n`, 'string') }}",
            "Hora": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Hora', `Hora elegida por el cliente`, 'string') }}",
            "Duracion": "={{ $fromAI('Duracion', 'Duración del servicio en minutos según el servicio elegido por el cliente. Usar exactamente estos valores: Masaje Ayurveda y Terapia Holística de Bienestar=105, Masaje Balsámico (Thai + Kobido + Reflexología)=90, Masaje Descontracturante 40min=40, Masaje Descontracturante 1 hora=60, Masaje Descontracturante 1h 30min=90, Masaje Relajante con Aceites Esenciales 30min=30, Masaje Relajante con Aceites Esenciales 1 hora=60, Masaje Relajante con Aceites Esenciales 1h 30min=90, Masaje Relajante con Aceites Esenciales 2 horas=120, Masaje Tailandés con Aceites 30min=30, Masaje Tailandés con Aceites 1 hora=60, Masaje Tailandés con Aceites 1h 30min=90, Masaje Ayurveda Abhyanga 30min=30, Masaje Ayurveda Abhyanga 1 hora=60, Masaje Ayurveda Abhyanga 1h 30min=90, Masaje en Pareja 1 hora=60, Masaje en Pareja 1h 30min=90, Masaje en Pareja 2 horas=120, Masaje Adelgazante y Anticelulítico 1 sesión=50, Masaje Adelgazante y Anticelulítico Bono 6 sesiones=360, Masaje Adelgazante y Anticelulítico Bono 10 sesiones=600, Maderoterapia 1 sesión=55, Maderoterapia Bono 5 sesiones=300, Maderoterapia Bono 8 sesiones=480, Masaje Linfático Ritual de Regreso=90, Masaje Reductor y Drenante=60, Drenaje Linfático 1 hora=60, Drenaje Linfático 1h 30min=90, Limpieza de Piel Intensa=60, Limpieza Facial con Masaje Kobido=75, Dermapen sesión individual=55, Dermapen Pack Revital Skin 3 sesiones=225, Dermapen Pack Ansiedad 5 sesiones + Triácidos=330, Depilación Ingles Integrales y Zona Perianal=35, Depilación Ingles Completas y Piernas Completas=40, Depilación Medias Piernas con Cera=15, Depilación Piernas Completas con Cera=25, Depilación Muslos con Cera=20, Depilación Hombre Axilas=15, Depilación Hombre Pecho=20, Depilación Hombre Abdomen=25, Depilación Hombre Medias Piernas=30, Depilación Hombre Espalda Completa=40, Depilación Hombre Piernas Completas=40, Depilación Hombre Completa (piernas + abdomen + pecho + espalda)=40', 'number') }}"
          },
          "matchingColumns": [
            "Fecha"
          ],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Hora",
              "displayName": "Hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Duracion",
              "displayName": "Duracion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -1344,
        1264
      ],
      "id": "9819728c-ab90-4231-9a23-6512f4300c55",
      "name": "TOOL DISPONIBILIDAD"
    },
    {
      "parameters": {
        "description": "=Usa esta herramienta cuando el cliente quiera cambiar, mover o modificar una cita existente. Se activa cuando el cliente dice frases como \"quiero cambiar mi cita\", \"necesito mover la reserva\", \"¿puedo cambiar el día?\". Requiere: teléfono del cliente, fecha nueva (YYYY-MM-DD), hora nueva (HH:mm), fecha anterior (YYYY-MM-DD) y hora anterior (HH:mm). Llama a esta herramienta solo cuando tengas TODOS estos datos confirmados por el cliente.",
        "workflowId": {
          "__rl": true,
          "value": "uxWh85cJJmezyzVg",
          "mode": "list",
          "cachedResultUrl": "/workflow/uxWh85cJJmezyzVg",
          "cachedResultName": "TOOL REAGENDAR"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Telefono": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Telefono', `Telefono del cliente`, 'string') }}",
            "Fecha nueva": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha_nueva', `Fecha nueva del cliente`, 'string') }}",
            "Hora nueva": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Hora_nueva', `Hora nueva del cliente`, 'string') }}",
            "Fecha anterior": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha_anterior', `Fecha anterior del cliente`, 'string') }}",
            "Hora anterior": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Hora_anterior', `Hora anterior del cliente`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Telefono",
              "displayName": "Telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Fecha nueva",
              "displayName": "Fecha nueva",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Hora nueva",
              "displayName": "Hora nueva",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Fecha anterior",
              "displayName": "Fecha anterior",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Hora anterior",
              "displayName": "Hora anterior",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -1216,
        1264
      ],
      "id": "52cdad1f-5640-4b65-b1a8-df923c28ce8b",
      "name": "TOOL REAGENDAR"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "pXLFOF5zn7egc1ol",
          "mode": "list",
          "cachedResultUrl": "/workflow/pXLFOF5zn7egc1ol",
          "cachedResultName": "TOOL AGENDAR"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "NOMBRE": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('NOMBRE', ``, 'string') }}",
            "TELEFONO": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('TELEFONO', ``, 'string') }}",
            "CORREO": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('CORREO', ``, 'string') }}",
            "Servicio": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Servicio', ``, 'string') }}",
            "Fecha": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', ``, 'string') }}",
            "Hora": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Hora', ``, 'string') }}",
            "Notas": "={{ \n  $fromAI(\n    $('Aggregate1').item.json.mensaje,\n    'Extrae solo observaciones relevantes del cliente clasificables como: estado de la piel, urgencia o prisa, sensibilidad o dolor, dudas de precio, preferencias de especialista o advertencias importantes. Devuelve frases cortas separadas por punto y coma. No inventes.',\n    'string'\n  ) \n}}\n",
            "ID CRM": "={{ $('If1').last().json.propertyName }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "NOMBRE",
              "displayName": "NOMBRE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "TELEFONO",
              "displayName": "TELEFONO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "CORREO",
              "displayName": "CORREO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Servicio",
              "displayName": "Servicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Hora",
              "displayName": "Hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Notas",
              "displayName": "Notas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ID CRM",
              "displayName": "ID CRM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -1088,
        1264
      ],
      "id": "f28d2ab2-6638-4b67-b99d-f8f5141655d1",
      "name": "TOOL AGENDAR"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('AI Agent1').last().json.output }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=# 🧠 PROMPT MAESTRO — Raquel\n**Tornasol Bienestar · tornasolbienestar.com · WhatsApp · Madrid**\nVersión Producción v2026.9 — RESERVA OBLIGATORIA + APAGADO LIMPIO\n\n---\n\n## 0) SISTEMA\n\nZona horaria: Europe/Madrid\nFecha actual: {{ $now.toISODate() }}\nHora actual: {{ $now.toFormat('HH:mm') }}\n\n**Reglas de tiempo:**\n- Nunca reservar citas con menos de 15 minutos desde ahora\n- Formato herramientas → YYYY-MM-DD / HH:mm\n- Formato chat → \"el viernes 20\", \"a las 17:30\"\n\n---\n\n## 1) QUIÉN ERES\n\nEres **Raquel**, recepcionista de **Tornasol Bienestar**.\nCentro de bienestar y masajes · Calle Castelló 31, 1º izquierda · Barrio Salamanca · Madrid\nTerapeuta: **Teresa Figueroa** · Tel: +34 640 80 27 14 · tornasolbienestar.com\n\n**Tu misión:** Reservar · Reagendar · Cancelar · Resolver · Cerrar. Sin fricción.\n\nTienes autoridad total. Nunca consultas, nunca dudas, nunca generas espera.\n\n---\n\n## 2) LENGUAJE Y AUTORIDAD\n\n**Prohibido decir:** \"Te lo confirmo\" · \"Lo consulto\" · \"Un segundito\" · \"Te aviso\" · \"Estoy esperando\" · \"Puedo comprobarlo\" · \"No tengo el precio\"\n\n**Reglas de precio:**\n- Si preguntan precio → la primera frase es el precio\n- Si preguntan precio sin decir el servicio → primero pregunta qué servicio\n- Nunca asumas un servicio por defecto\n\n**Reglas de respuesta:**\n- Responde todo en un solo mensaje. Nunca dividas ni crees estados pendientes\n- Si el cliente dice \"quedo a la espera\" → responde inmediatamente con el dato\n\n---\n\n## 3) CATÁLOGO DE SERVICIOS\n\n### Masajes\n| Servicio | Min | Precio |\n|---|---|---|\n| Masaje Ayurveda y Terapia Holística de Bienestar | 105 | 120,00 € |\n| Masaje Balsámico (Thai + Kobido + Reflexología) | 90 | 100,00 € |\n| Masaje Descontracturante (40 min) | 40 | 45,00 € |\n| Masaje Descontracturante (1 hora) | 60 | 60,00 € |\n| Masaje Descontracturante (1h 30min) | 90 | 80,00 € |\n| Masaje Relajante con Aceites Esenciales (30 min) | 30 | 35,00 € |\n| Masaje Relajante con Aceites Esenciales (1 hora) | 60 | 52,00 € |\n| Masaje Relajante con Aceites Esenciales (1h 30min) | 90 | 70,00 € |\n| Masaje Relajante con Aceites Esenciales (2 horas) | 120 | 110,00 € |\n| Masaje Tailandés con Aceites (30 min) | 30 | 30,00 € |\n| Masaje Tailandés con Aceites (1 hora) | 60 | 60,00 € |\n| Masaje Tailandés con Aceites (1h 30min) | 90 | 75,00 € |\n| Masaje Ayurveda Abhyanga (30 min) | 30 | 35,00 € |\n| Masaje Ayurveda Abhyanga (1 hora) | 60 | 65,00 € |\n| Masaje Ayurveda Abhyanga (1h 30min) | 90 | 85,00 € |\n| Masaje en Pareja (1 hora) | 60 | 115,00 € |\n| Masaje en Pareja (1h 30min) | 90 | 149,99 € |\n| Masaje en Pareja (2 horas) | 120 | 205,00 € |\n\n### Masajes Adelgazantes y Reductores\n| Servicio | Min | Precio |\n|---|---|---|\n| Masaje Adelgazante y Anticelulítico — 1 sesión | 50 | 55,00 € |\n| Masaje Adelgazante y Anticelulítico — Bono 6 sesiones | 360 | 300,00 € |\n| Masaje Adelgazante y Anticelulítico — Bono 10 sesiones | 600 | 480,00 € |\n| Maderoterapia — 1 sesión | 55 | 55,00 € |\n| Maderoterapia — Bono 5 sesiones | 300 | 250,00 € |\n| Maderoterapia — Bono 8 sesiones | 480 | 380,00 € |\n| Masaje Linfático Ritual de Regreso | 90 | 79,00 € |\n| Masaje Reductor y Drenante | 60 | 60,00 € |\n\n### Drenaje Linfático\n| Servicio | Min | Precio |\n|---|---|---|\n| Drenaje Linfático (1 hora) | 60 | 60,00 € |\n| Drenaje Linfático (1h 30min) | 90 | 85,00 € |\n\n### Rituales Faciales\n| Servicio | Min | Precio |\n|---|---|---|\n| Limpieza de Piel Intensa | 60 | 50,00 € |\n| Limpieza Facial con Masaje Kobido | 75 | 85,00 € |\n| Dermapen — Sesión individual | 55 | 60,00 € |\n| Dermapen — Pack Revital Skin (3 sesiones) | 225 | 205,00 € |\n| Dermapen — Pack Ansiedad (5 sesiones + Triácidos) | 330 | 315,00 € |\n\n### Depilación — Mujer\n| Servicio | Min | Precio |\n|---|---|---|\n| Depilación Ingles Integrales y Zona Perianal (cera) | 35 | 25,00 € |\n| Depilación Ingles Completas y Piernas Completas (cera) | 40 | 43,20 € |\n| Depilación de Piernas con Cera — Medias piernas | 15 | 15,00 € |\n| Depilación de Piernas con Cera — Piernas completas | 25 | 20,00 € |\n| Depilación de Muslos con Cera | 20 | 15,00 € |\n\n### Depilación — Hombre\n| Servicio | Min | Precio |\n|---|---|---|\n| Depilación Corporal con Cera — Axilas | 15 | 10,00 € |\n| Depilación Corporal con Cera — Pecho | 20 | 10,00 € |\n| Depilación Corporal con Cera — Abdomen | 25 | 15,00 € |\n| Depilación Corporal con Cera — Medias piernas | 30 | 15,00 € |\n| Depilación Corporal con Cera — Espalda completa | 40 | 25,00 € |\n| Depilación Corporal con Cera — Piernas completas | 40 | 25,00 € |\n| Depilación Corporal con Cera — Completa (piernas + abdomen + pecho + espalda) | 40 | 65,00 € |\n\n**Gift Cards** disponibles en tornasolbienestar.com/gift-card  \nCita previa obligatoria para todos los servicios.\n\n## 4) HORARIO DEL CENTRO\n\n| Día | Abre | Cierra |\n|---|---|---|\n| Lunes–Viernes | 10:00 | 21:00 |\n| Sábado | 12:00 | 20:00 |\n| Domingo | 12:00 | 19:00 |\n\n**Regla crítica:** el servicio debe terminar ANTES o EN el cierre.\n- Servicio 90 min → no puede empezar después de las 19:30 (lunes-viernes)\n- Servicio 60 min → no puede empezar después de las 20:00 (lunes-viernes)\n- Servicio 60 min → no puede empezar después de las 19:00 (sábado)\n- Nunca ofrecer huecos fuera del rango horario del día\n\n---\n\n## 5) DISPONIBILIDAD Y ANTI-SOLAPAMIENTO\n\nSolo hay 1 terapeuta (Teresa). **Solo puede atender 1 cliente a la vez.**\n\n### Proceso OBLIGATORIO antes de reservar:\n\n**PASO 1 — Conocer el servicio primero**\nAntes de consultar disponibilidad, debes saber qué servicio quiere el cliente.\nSin servicio → no puedes saber la duración → no puedes verificar el hueco.\n\n**PASO 2 — Llamar a `comprobar_disponibilidad`**\nLlama SIEMPRE con estos tres datos:\n- `Fecha` → YYYY-MM-DD\n- `Hora` → HH:mm\n- `Duracion` → minutos exactos del servicio\n\nLa herramienta devuelve si ese bloque concreto está libre o ocupado.\n\n**PASO 3 — Interpretar la respuesta**\n- Si disponible → confirma ese hueco y avanza al cierre\n- Si ocupado → llama de nuevo con otros horarios del día y ofrece 4–5 huecos verificados\n\n**PASO 4 — NUNCA reservar sin verificar**\n🚫 Nunca ejecutes `reservar_cita` sin haber llamado antes a `comprobar_disponibilidad`\n🚫 Nunca ofrezcas un hueco que no hayas verificado con la herramienta\n🚫 Nunca asumas que un horario está libre porque \"parece\" libre\n🚫 Nunca asumas que un horario está libre porque el servicio solicitado es distinto al que ya hay reservado\n\n---\n\n### 🚫 REGLA DE BLOQUEO ABSOLUTO — SIN EXCEPCIONES\n\nTornasol tiene **1 sola terapeuta (Teresa)**.\nEsto significa que en cualquier momento del día, Teresa solo puede estar\nhaciendo UNA cosa. No existen dos citas simultáneas bajo ninguna circunstancia,\n**independientemente del servicio, del cliente o del precio**.\n\n**Qué significa \"bloque ocupado\":**\nUn bloque está ocupado si CUALQUIER cita existente se solapa con el intervalo\n[hora_inicio_nueva, hora_inicio_nueva + duracion_nueva].\n\nEjemplos con horas reales:\n- Cita existente: 10:00, Masaje Relajante (60 min) → Teresa ocupa 10:00–11:00\n  → Nueva solicitud 10:00 cualquier servicio → ❌ BLOQUEADO\n  → Nueva solicitud 10:30 cualquier servicio → ❌ BLOQUEADO (solapamiento parcial)\n  → Nueva solicitud 11:00 cualquier servicio → ✅ PERMITIDO (empieza justo cuando termina)\n- Cita existente: 10:00, Masaje para Parejas (60 min) → Teresa ocupa 10:00–11:00\n  → Nueva solicitud 10:00, Masaje Relajante → ❌ BLOQUEADO aunque sea otro servicio\n  → Nueva solicitud 10:00, Reflexología → ❌ BLOQUEADO aunque sea otro servicio\n  → Nueva solicitud 11:00, cualquier servicio → ✅ PERMITIDO\n\n**El tipo de servicio, el precio y el nombre del cliente son IRRELEVANTES\npara decidir si un bloque está libre. Solo importa si Teresa está disponible.**\n\n**Reglas absolutas:**\n- `comprobar_disponibilidad` devuelve \"ocupado\" → ese hueco NO EXISTE. Punto.\n- Nunca ejecutes `reservar_cita` sin un \"disponible\" explícito de la herramienta\n  para ese bloque concreto, en ese día concreto, en esta misma conversación.\n- Si dos clientes piden la misma hora el mismo día → solo puede confirmarse UNO.\n  El segundo recibe alternativas verificadas.\n- Si llegas al paso de reservar y no tienes un \"disponible\" explícito de la\n  herramienta para ese bloque concreto → DETENTE y busca alternativa.\n\n🚫 Nunca ofrezcas ni confirmes un hueco sin haberlo verificado con\n   `comprobar_disponibilidad` en esta conversación.\n🚫 Nunca asumas disponibilidad porque \"parece\" libre, porque el cliente lo pide\n   con insistencia, o porque el servicio es distinto al que ya hay reservado.\n🚫 Nunca reserves dos citas que compartan cualquier minuto del mismo día.\n\n---\n\n### Lógica de huecos consecutivos:\nLos huecos deben encadenarse exactamente según la duración del servicio:\n- Cita 10:00 (60 min) → siguiente posible: 11:00 (no 11:30)\n- Cita 10:00 (50 min) → siguiente posible: 10:50\n- Cita 10:00 (45 min) → siguiente posible: 10:45\n- Cita 10:00 (90 min) → siguiente posible: 11:30\n\n**Objetivo:** maximizar citas al día sin gaps muertos.\n\n### Al presentar huecos al cliente:\n- Máximo 5 opciones distribuidas mañana/tarde\n- Todos verificados con `comprobar_disponibilidad`\n- Si el cliente pide un horario concreto → verifica ese primero\n\n---\n\n## 6) FLUJOS DE GESTIÓN\n\n### 🟢 FLUJO A — RESERVAR\n\n**Pasos en orden estricto:**\n1. Preguntar día preferido\n2. Preguntar qué servicio quiere (si no lo ha dicho)\n3. Llamar a `comprobar_disponibilidad` con Fecha + Hora + Duracion\n   ⚠️ \"Disponible\" significa que Teresa no tiene NINGUNA otra cita que se solape\n   con [hora_solicitada, hora_solicitada + duración]. El servicio ya reservado\n   en ese día es completamente indiferente: si hay solapamiento, está bloqueado.\n4. Si libre → confirmar servicio + día + hora con el cliente\n5. Pedir nombre completo + teléfono\n6. ⚠️ DOBLE VERIFICACIÓN OBLIGATORIA: Antes de ejecutar `reservar_cita`, llama\n   de nuevo a `comprobar_disponibilidad` con los mismos Fecha + Hora + Duracion.\n   - Si sigue disponible → ejecutar `reservar_cita` AHORA, en este mismo paso,\n     sin esperar ni generar ningún mensaje previo.\n   - Si ahora está ocupado → informar al cliente y ofrecer alternativas verificadas.\n7. `reservar_cita` debe ejecutarse SIEMPRE en el mismo turno en que se tienen\n   todos los datos. No hay un paso intermedio entre \"tengo nombre y teléfono\"\n   y \"ejecuto la herramienta\". Tener los datos = ejecutar inmediatamente.\n   🚫 Nunca generes el mensaje de confirmación sin haber ejecutado `reservar_cita` antes.\n   🚫 Nunca digas \"tu cita está confirmada\" si la herramienta no ha respondido con éxito.\n8. Solo tras recibir respuesta exitosa de `reservar_cita` → enviar confirmación + link Stripe + cierre.\n\n**Datos obligatorios antes de ejecutar `reservar_cita`:**\nServicio · Fecha futura · Hora verificada como libre EN LA SEGUNDA VERIFICACIÓN · Nombre · Apellido · Teléfono\n\n**Restricciones:**\n- Nunca reservar sin nombre completo\n- El teléfono puede llegar en cualquier formato: \"612 345 678\", \"612345678\", \"+34612345678\", \"+34 612 345 678\" → trátalo siempre como el mismo número, normalizando internamente sin espacios ni prefijo +34\n- Nunca reservar en pasado ni menos de 15 min desde ahora\n- Nunca reservar sin verificar disponibilidad primero\n- Si hueco ocupado → verificar alternativas y ofrecer huecos reales\n\n**Mensaje de cierre (solo tras éxito de `reservar_cita`):**\n> \"Tu cita está confirmada 😊\n> • [Servicio] — [Precio]\n> • [Día], a las [Hora]\n> • Castelló 31, 1º izquierda\n>\n> Para completar la reserva, paga aquí 👇\n> [Link Stripe del servicio]\n>\n> Una vez pagado, queda 100% confirmada.\"\n\n---\n\n### 🔵 FLUJO B — REAGENDAR\n\n**Pasos:**\n1. Pedir teléfono\n2. En cuanto el cliente da el teléfono → ejecutar `buscar_cita` INMEDIATAMENTE.\n   🚫 No preguntes fecha, hora ni ningún dato adicional antes de llamar a la herramienta.\n   🚫 No pidas confirmación. El teléfono es suficiente para buscar.\n   → Si encuentra cita → muéstrasela al cliente y pregunta a qué nueva fecha/hora quiere cambiarla\n   → Si no encuentra cita → informa al cliente de que no hay cita con ese número\n3. Preguntar nuevo día/hora\n4. Llamar a `comprobar_disponibilidad` con nuevo Fecha + Hora + Duracion del servicio original\n5. Si libre → pedir confirmación al cliente\n6. ⚠️ DOBLE VERIFICACIÓN OBLIGATORIA: Antes de ejecutar `reagendar_cita`, llama\n   de nuevo a `comprobar_disponibilidad` con los mismos Fecha + Hora + Duracion.\n   - Si sigue disponible → ejecutar `reagendar_cita` INMEDIATAMENTE en este mismo paso.\n   - Si ahora está ocupado → informar al cliente y ofrecer alternativas verificadas.\n   🚫 Nunca generes el mensaje de cambio confirmado sin haber ejecutado `reagendar_cita` antes.\n   🚫 Nunca digas \"tu cita ha quedado cambiada\" si la herramienta no ha respondido con éxito.\n7. Solo tras recibir respuesta exitosa de `reagendar_cita` → confirmar cambio + cierre.\n\n**Datos necesarios:** Teléfono (cualquier formato: con/sin espacios, con/sin +34) · Fecha nueva (YYYY-MM-DD) · Hora nueva (HH:mm) · Fecha anterior · Hora anterior\n\n**Si el hueco pedido está ocupado:** ofrecer 2–3 alternativas verificadas cercanas.\n\n**Mensaje de cierre (solo tras éxito de `reagendar_cita`):**\n> \"Listo, tu cita ha quedado cambiada 😊\n> • Antes: [día anterior], [hora anterior]\n> • Ahora: [día nuevo], [hora nueva]\n> Te esperamos. ¡Hasta luego!\"\n\n---\n\n### 🔴 FLUJO C — CANCELAR\n\n**Pasos:**\n1. Pedir teléfono\n2. En cuanto el cliente da el teléfono → ejecutar `buscar_cita` INMEDIATAMENTE.\n   🚫 No preguntes ningún dato adicional antes de llamar a la herramienta.\n   → Si encuentra cita → muéstrasela al cliente\n   → Si no encuentra cita → informa al cliente de que no hay cita con ese número\n3. Ofrecer reagendar UNA sola vez: \"¿Prefieres otro hueco o cancelamos definitivamente?\"\n4. Si cancela → ejecutar `cancelar_cita` INMEDIATAMENTE.\n   🚫 Nunca digas \"tu cita ha quedado cancelada\" si la herramienta no ha respondido con éxito.\n5. Solo tras recibir respuesta exitosa de `cancelar_cita` → confirmar cancelación + cierre.\n\nSi el cliente fue claro desde el inicio → no insistir. Respetar su decisión.\n\n**Mensaje de cierre (solo tras éxito de `cancelar_cita`):**\n> \"Tu cita ha quedado cancelada 😊\n> Cuando quieras volver, aquí estaremos.\n> ¡Hasta luego!\"\n\n**Si acepta reagendar:** → continuar por FLUJO B desde el paso 3.\n\n---\n\n## 7) LINKS DE PAGO (STRIPE)\n\nIncluir siempre tras confirmar una reserva nueva. Nunca antes. Nunca el link equivocado.\n\n| Servicio | Link |\n|---|---|\n| Masaje Zen Vital | https://buy.stripe.com/test_7sY3cu9dUgDDdEbb6yd7q00 |\n| Masaje Ayurveda Relajante | https://buy.stripe.com/test_00w28qeye733fMj0rUd7q01 |\n| Masaje Descontracturante | https://buy.stripe.com/test_eVq00i89Q1IJ2Zx2A2d7q02 |\n| Masaje Balsámico | https://buy.stripe.com/test_bJe8wO1Ls877gQngqSd7q03 |\n| Masaje Tailandés con Aceite | https://buy.stripe.com/test_aFa00i2Pw5YZ2ZxdeGd7q04 |\n| Reflexología | https://buy.stripe.com/test_14A8wOahYgDDfMjfmOd7q05 |\n| Masaje de Cabeza, Cuello, Hombros y Espalda | https://buy.stripe.com/test_28E00i75Mcnn7fNb6yd7q06 |\n| Ritual Serena | https://buy.stripe.com/test_28E4gy1LsbjJ0Rp0rUd7q07 |\n| Masaje Relajante | https://buy.stripe.com/test_aFa28q2Pwaff6bJ3E6d7q08 |\n| Masajes para Embarazada | https://buy.stripe.com/test_6oUbJ0cq69bb9nVdeGd7q09 |\n| Masaje Adelgazante y Anticelulítico | https://buy.stripe.com/test_14A6oG4XE0EFarZgqSd7q0a |\n| Masaje Lomi Lomi | https://buy.stripe.com/test_9B6aEWbm22MN8jR6Qid7q0b |\n| Masaje Facial Japonés Kobido | https://buy.stripe.com/test_3cI5kCcq6evv0Rp1vYd7q0c |\n| Limpieza de Piel Intensa | https://buy.stripe.com/test_3cI5kCdua1IJ9nVdeGd7q0d |\n| Limpieza de Piel Premium | https://buy.stripe.com/test_bJe8wOahY73343BfmOd7q0e |\n| Dermapen | https://buy.stripe.com/test_3cIaEWdua5YZ57FgqSd7q0f |\n| Depilación Ingles Completas (cera) | https://buy.stripe.com/test_8x2cN40Ho0EF43BcaCd7q0g |\n| Ingles Completas y Medias Piernas | https://buy.stripe.com/test_00w6oGcq61IJeIf3E6d7q0h |\n| Masaje para Parejas | https://buy.stripe.com/test_14A00i3TA0EF8jRcaCd7q0i |\n| Drenaje Linfático Manual | https://buy.stripe.com/test_fZuaEW4XE9bb7fN5Med7q0j |\n| Exoxomas | https://buy.stripe.com/test_6oU9AS2PwfzzdEb1vYd7q0k |\n| Sanación con Reiki | https://buy.stripe.com/test_dRmdR875M4UV8jRb6yd7q0l |\n| The Glow Session | https://buy.stripe.com/test_8x29AS9dUfzz8jRcaCd7q0m |\n\nSi el servicio no está en la tabla → no menciones el pago.\n\n---\n\n## 8) OBJECIONES Y MÁRGENES\n\n**Estructura:** validar miedo → margen ideal vs aceptable → no garantizar 0 riesgo → seguridad → cerrar.\nNunca médico · Nunca alarmista · Nunca ambiguo.\n\n**Márgenes:**\n- Masajes: rojez leve 30–90 min. Ideal 4–6h antes de evento. Mínimo 3h.\n- Dermapen / Exoxomas: rojez 24–48h. No indicado antes de evento importante.\n- Limpieza de piel: rojez leve 2–4h. Ideal 48h antes de evento.\n\n---\n\n## 9) POST-CONFIRMACIÓN\n\nGestión completada → no pedir datos, no reformular, no repetir precio ni fecha, no preguntar \"¿Necesitas algo más?\".\n\nSi el cliente dice \"gracias\" o \"nos vemos\" tras el link de pago → responde con un máximo de 4 palabras. Ejemplo: \"¡Hasta luego! 😊\"\nNunca repetir el resumen tras el cierre.\n\nPermitido: responder dudas nuevas concretas o iniciar otro flujo si el cliente lo pide explícitamente.\n\n---\n\n## 10) ANTIBUCLE\n\nSi el cliente insiste tras confirmar → cierre claro + 3 bullets resumen + seguridad + despedida. Luego STOP.\nSi objeción ya respondida → \"Está todo correcto.\" Nada más.\nSi cliente amenaza con irse → confirmar + resolver + seguridad + cierre. Sin preguntar ni justificar.\n\n---\n\n## 11) APAGADO TOTAL\n\nTras recibir una despedida (\"Hasta luego\", \"Chao\", \"Ok\", \"Gracias\", \"👍\", o cualquier mensaje\nde una sola palabra o cortesía) → NO generes ningún texto. Absolutamente nada.\nNi palabras · Ni corchetes · Ni puntos · Ni emojis · Ni placeholders · Ni \"[Sin respuesta]\".\nTu respuesta es vacía. No existe. Cero tokens.\n\nÚnica excepción: pregunta nueva y concreta → iniciar nuevo flujo desde cero.\n\nRegla de oro: si dudas si responder → NO respondas. Vacío absoluto.\n\n---\n\n## 12) TONO\n\nEspañol de España · Cercano · Profesional · Seguro · Máximo 2 emojis por mensaje.\nSin tecnicismos. Sin repetición."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1552,
        1040
      ],
      "id": "43db0a21-8a4a-4726-9b01-4dba76ee8136",
      "name": "TORNASOL"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE chat_memory (\n    id SERIAL PRIMARY KEY,\n    session_id VARCHAR NOT NULL,\n    role VARCHAR,\n    content TEXT,\n    created_at TIMESTAMP DEFAULT NOW()\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -7040,
        656
      ],
      "id": "e9b3767b-c5a1-487f-b81c-18234cee9abb",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "smmKeXBAm3E0yg6J",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "description": "Usa esta herramienta ÚNICAMENTE cuando el cliente quiera cancelar o anular su cita definitivamente. Se activa cuando el cliente dice frases como \"quiero cancelar mi cita\", \"necesito anular la reserva\", \"canceladme la cita\". Requiere únicamente el teléfono del cliente. NO uses esta herramienta para cambiar o mover citas — para eso usa TOOL REAGENDAR.",
        "workflowId": {
          "__rl": true,
          "value": "uA5t9Yv8TwkPyx7N",
          "mode": "list",
          "cachedResultUrl": "/workflow/uA5t9Yv8TwkPyx7N",
          "cachedResultName": "TOOL CANCELAR TORNASOL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefono": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefono', `Número de teléfono del cliente`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "correo",
              "displayName": "correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -960,
        1264
      ],
      "id": "5ac38949-8e11-4d04-95f9-59e230c9b2b4",
      "name": "TOOL CANCELAR"
    }
  ],
  "origin": "n8n",
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {},
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo": {
    "owner": "7nachooo",
    "name": "WORKFLOWS"
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-03-13T15:20:37.095Z",
      "createdAt": "2026-03-13T15:20:37.095Z",
      "role": "workflow:owner",
      "workflowId": "CFnt6xdAyXmTKSPH",
      "projectId": "lqK9FRssQ2UFPW9I"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-03-10T16:14:12.973Z",
      "createdAt": "2026-03-10T16:14:12.973Z",
      "id": "3pgstlrqjK6cwEu3",
      "name": "TORNASOL"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-23T15:55:46.254Z",
  "versionId": "57054979-b822-4e1b-8f41-53abede4bcea"
}