u354s8Y3jVxbLFJC.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-17T16:07:23.000Z",
    "createdAt": "2026-03-17T16:07:22.482Z",
    "versionId": "a70f05b0-9d57-4193-88f5-50e842ef162e",
    "workflowId": "u354s8Y3jVxbLFJC",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "CORREO"
              },
              {
                "name": "NOMBRE"
              },
              {
                "name": "FECHA"
              },
              {
                "name": "SERVICIO"
              }
            ]
          }
        },
        "id": "afe702fc-eeb4-44a6-86c4-6755d102d46d",
        "typeVersion": 1.1,
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          272,
          304
        ]
      },
      {
        "parameters": {
          "jsCode": "return items.map(item => {\n\n    // -------- 1. ORIGEN DE DATOS --------\n    const rawSummary_A  = item.json.NOMBRE;\n    const rawFecha_A    = item.json.FECHA;\n    const rawCorreo_A   = item.json.CORREO;\n\n    const rawSummary_B  = item.json.summary;\n    const rawFecha_B    = item.json.start?.dateTime;\n    const rawCorreo_B   = item.json.creator?.email;\n\n    const rawSummary = rawSummary_A || rawSummary_B || \"\";\n    const rawFecha   = rawFecha_A   || rawFecha_B   || \"\";\n    const rawCorreo  = rawCorreo_A  || rawCorreo_B  || \"\";\n\n    // -------- 2. LIMPIEZA --------\n    const clean = t => (t || \"\")\n        .replace(/[\\r\\n\\t]+/g, \" \")\n        .replace(/\\s+/g, \" \")\n        .trim();\n\n    const summary = clean(rawSummary);\n\n    // -------- 3. CLIENTE Y SERVICIO --------\n    let matchA = summary.match(/cita con (.+?) para (.+)$/i);\n    let matchB = summary.match(/(.+?)\\s+—\\s+(.+)/);\n\n    let cliente = \"\";\n    let servicio = \"\";\n\n    if (matchA) {\n        cliente = matchA[1].trim();\n        servicio = matchA[2].trim();\n    } else if (matchB) {\n        cliente = matchB[1].trim();\n        servicio = matchB[2].trim();\n    }\n\n    // -------- 4. NOMBRE (solo primer nombre) --------\n    let nombre = \"\";\n    if (cliente) {\n        const partes = cliente.split(\" \").filter(Boolean);\n        if (partes[0]) {\n            nombre = partes[0][0].toUpperCase() + partes[0].slice(1).toLowerCase();\n        }\n    }\n\n    // -------- 5. CAPITALIZAR SERVICIO --------\n    const capitalizar = txt =>\n        (txt || \"\")\n            .split(\" \")\n            .map(w => w.charAt(0).toUpperCase() + w.slice(1).toLowerCase())\n            .join(\" \");\n\n    const servicioCapitalizado = capitalizar(servicio);\n\n    // -------- 6. FECHA / HORA (Europe/Madrid) --------\n    let fecha = \"\";\n    let hora  = \"\";\n    let fechaHoraGC = \"\";\n\n    let startLocalParts = null;\n\n    if (rawFecha) {\n        const d = new Date(rawFecha);\n\n        if (!isNaN(d.getTime())) {\n\n            fechaHoraGC = rawFecha;\n\n            fecha = new Intl.DateTimeFormat(\"es-ES\", {\n                day: \"2-digit\",\n                month: \"2-digit\",\n                year: \"numeric\",\n                timeZone: \"Europe/Madrid\",\n            }).format(d);\n\n            hora = new Intl.DateTimeFormat(\"es-ES\", {\n                hour: \"2-digit\",\n                minute: \"2-digit\",\n                hour12: false,\n                timeZone: \"Europe/Madrid\",\n            }).format(d);\n\n            startLocalParts = new Intl.DateTimeFormat(\"en-GB\", {\n                year: \"numeric\",\n                month: \"2-digit\",\n                day: \"2-digit\",\n                hour: \"2-digit\",\n                minute: \"2-digit\",\n                hour12: false,\n                timeZone: \"Europe/Madrid\",\n            }).formatToParts(d);\n        }\n    }\n\n    // -------- 7. GOOGLE CALENDAR (START / END en Madrid) --------\n    let gc_start = \"\";\n    let gc_end   = \"\";\n\n    if (startLocalParts) {\n        const get = t => startLocalParts.find(p => p.type === t)?.value;\n        const pad = n => String(n).padStart(2, \"0\");\n\n        const y  = get(\"year\");\n        const m  = get(\"month\");\n        const d  = get(\"day\");\n        const h  = get(\"hour\");\n        const mi = get(\"minute\");\n\n        if (y && m && d && h && mi) {\n            gc_start = `${y}${m}${d}T${h}${mi}00`;\n\n            const end = new Date(`${y}-${m}-${d}T${h}:${mi}:00`);\n            end.setMinutes(end.getMinutes() + 60);\n\n            gc_end = `${y}${m}${pad(end.getDate())}T${pad(end.getHours())}${pad(end.getMinutes())}00`;\n        }\n    }\n\n    // -------- 8. EXTRAER EMAIL REAL --------\n    const extractEmail = text => {\n        if (!text) return \"\";\n        const match = text.match(/[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/);\n        return match ? match[0].toLowerCase() : \"\";\n    };\n\n    const correoLimpio = extractEmail(rawCorreo);\n\n    // -------- 9. SALIDA --------\n    item.json.nombre      = nombre;\n    item.json.servicio    = servicioCapitalizado;\n    item.json.fecha       = fecha;\n    item.json.hora        = hora;\n    item.json.correo      = correoLimpio;\n    item.json.fechaHoraGC = fechaHoraGC;\n    item.json.gc_start    = gc_start;\n    item.json.gc_end      = gc_end;\n\n    return item;\n});\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          496,
          304
        ],
        "id": "54f26510-f28c-4478-8270-00453b392b46",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "sendTo": "={{ $json.correo }}",
          "subject": "={{ $json.nombre }}, tu cita en Tornasol ha sido reprogramada ",
          "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Tu cita ha sido reprogramada · Tornasol Bienestar</title>\n</head>\n\n<body style=\"margin:0; padding:0; background:#f5f0eb; font-family:Georgia, 'Times New Roman', serif;\">\n\n  <table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"padding:50px 0;\">\n    <tr>\n      <td align=\"center\">\n\n        <!-- CARD -->\n        <table width=\"560\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\"\n               style=\"background:#fffdf9; border-radius:18px; padding:48px; max-width:560px; box-shadow:0 4px 24px rgba(0,0,0,0.07);\">\n\n          <!-- BRAND -->\n          <tr>\n            <td align=\"left\" style=\"padding-bottom:22px;\">\n              <img\n                src=\"https://static.wixstatic.com/media/ca85b0_47d1fd6910ec40049ef53cf6a305db9a~mv2.png\"\n                alt=\"Tornasol Bienestar\"\n                width=\"130\"\n                style=\"display:block; border:0; outline:none; text-decoration:none;\"\n              >\n            </td>\n          </tr>\n\n          <!-- HEADER -->\n          <tr>\n            <td style=\"font-size:21px; font-weight:700; color:#2c1a0e; padding-bottom:6px; text-align:left; letter-spacing:0.3px;\">\n              Tu cita ha sido reprogramada 🗓️\n            </td>\n          </tr>\n\n          <!-- SUBHEADER -->\n          <tr>\n            <td style=\"font-size:14px; color:#9e7a5a; padding-bottom:22px; text-align:left; font-style:italic;\">\n              Aquí tienes los nuevos detalles de tu sesión\n            </td>\n          </tr>\n\n          <!-- GREETING -->\n          <tr>\n            <td style=\"font-size:15px; color:#444; line-height:1.8; padding-bottom:24px; text-align:left;\">\n              Hola <strong style=\"color:#2c1a0e;\">{{ $json.nombre }}</strong>,\n              <br><br>\n              Te confirmamos que tu cita en <strong>Tornasol Bienestar</strong> ha sido reprogramada correctamente.\n              <br>\n              Estos son los nuevos detalles de tu sesión:\n            </td>\n          </tr>\n\n          <!-- LINE -->\n          <tr>\n            <td style=\"padding-bottom:26px;\">\n              <div style=\"height:1px; background:#ede5d8;\"></div>\n            </td>\n          </tr>\n\n          <!-- DETAILS BLOCK -->\n          <tr>\n            <td style=\"font-size:15px; color:#222; line-height:1.9; text-align:left; padding-bottom:10px;\">\n\n              <div style=\"margin-bottom:14px;\">\n                <span style=\"font-weight:700; color:#2c1a0e;\">📅 Nueva fecha</span><br>\n                <span style=\"color:#555;\">{{ $json.fecha }}</span>\n              </div>\n\n              <div style=\"margin-bottom:14px;\">\n                <span style=\"font-weight:700; color:#2c1a0e;\">🕐 Nueva hora</span><br>\n                <span style=\"color:#555;\">{{ $json.hora }}</span>\n              </div>\n\n              <div style=\"margin-bottom:4px;\">\n                <span style=\"font-weight:700; color:#2c1a0e;\">🌿 Servicio</span><br>\n                <span style=\"color:#555;\">{{ $json.servicio }}</span>\n              </div>\n\n            </td>\n          </tr>\n\n          <!-- ADD TO GOOGLE CALENDAR -->\n          <tr>\n            <td align=\"center\" style=\"padding:20px 0 32px;\">\n              <a\n                href=\"https://calendar.google.com/calendar/render?action=TEMPLATE&text=Cita+en+Tornasol+Bienestar&dates={{ $json.gc_start }}/{{ $json.gc_end }}&details=Servicio%3A+{{ $json.servicio }}&location=Calle+Castelló+31+1º+izquierda%2C+Salamanca%2C+Madrid\"\n                target=\"_blank\"\n                style=\"background:#f0e8dc; color:#2c1a0e; text-decoration:none;\n                       font-size:14px; font-weight:700; padding:11px 24px;\n                       border-radius:10px; display:inline-block; border:1px solid #d9c9b4;\">\n                📅 Añadir a Google Calendar\n              </a>\n            </td>\n          </tr>\n\n          <!-- MAP BLOCK -->\n          <tr>\n            <td style=\"padding:0 0 22px; text-align:left;\">\n\n              <a href=\"https://www.google.com/maps?q=Calle+Castelló+31,+28001+Madrid\" target=\"_blank\" style=\"text-decoration:none;\">\n                <img\n                  src=\"https://staticmap.openstreetmap.de/staticmap.php?center=40.4267,-3.6834&zoom=16&size=560x220&markers=40.4267,-3.6834,red-pushpin\"\n                  alt=\"Mapa Tornasol Bienestar - Calle Castelló 31, Madrid\"\n                  style=\"width:100%; border-radius:12px; display:block; border:0;\"\n                >\n              </a>\n\n              <div style=\"font-size:14px; color:#555; margin-top:10px; line-height:1.7;\">\n                📍 <strong style=\"color:#2c1a0e;\">Dirección:</strong> Calle Castelló 31, 1º izquierda, Salamanca, Madrid\n                <br>\n                <a href=\"https://www.google.com/maps?q=Calle+Castelló+31,+28001+Madrid\"\n                   target=\"_blank\"\n                   style=\"color:#b07d4f; font-weight:700; text-decoration:none;\">\n                  Abrir en Google Maps →\n                </a>\n              </div>\n\n            </td>\n          </tr>\n\n          <!-- INFO BLOCK -->\n          <tr>\n            <td style=\"font-size:14px; color:#555; line-height:1.75; padding-bottom:18px; text-align:left;\">\n\n              <strong style=\"color:#2c1a0e;\">🚇 Cómo llegar</strong><br>\n              El centro se encuentra en el barrio de Salamanca, muy bien comunicado. Las paradas de metro más cercanas son Velázquez (L4) y Príncipe de Vergara (L2/L9), a pocos minutos a pie.\n              <br><br>\n\n              <strong style=\"color:#2c1a0e;\">🅿️ Aparcamiento</strong><br>\n              Dispones de plazas de estacionamiento SER en la zona y parkings públicos cercanos. Te recomendamos llegar con un poco de antelación.\n\n            </td>\n          </tr>\n\n          <!-- LINE -->\n          <tr>\n            <td style=\"padding:22px 0;\">\n              <div style=\"height:1px; background:#ede5d8;\"></div>\n            </td>\n          </tr>\n\n          <!-- FOOTER TEXT -->\n          <tr>\n            <td style=\"font-size:14px; color:#666; line-height:1.75; padding-bottom:20px; text-align:left;\">\n              Si esta nueva fecha u hora no te encaja o necesitas cualquier cambio, estaremos encantadas de ayudarte.\n            </td>\n          </tr>\n\n          <!-- CTA BUTTONS -->\n          <tr>\n            <td align=\"center\" style=\"padding:0 0 28px;\">\n\n              <!-- Call -->\n              <a href=\"tel:+34640802714\"\n                 style=\"background:#2c1a0e; color:#fffdf9; text-decoration:none;\n                        font-size:14px; font-weight:700; padding:12px 22px;\n                        border-radius:10px; display:inline-block;\">\n                📞 Llamar ahora\n              </a>\n\n              <!-- Spacer -->\n              <span style=\"display:inline-block; width:10px;\"></span>\n\n              <!-- WhatsApp -->\n              <a href=\"https://wa.me/34640802714?text=Hola%20Teresa%2C%20quiero%20modificar%20mi%20cita%20reprogramada.\"\n                 target=\"_blank\"\n                 style=\"background:#fffdf9; color:#2c1a0e; text-decoration:none;\n                        font-size:14px; font-weight:700; padding:11px 20px;\n                        border-radius:10px; display:inline-block; border:1px solid #d9c9b4;\">\n                💬 WhatsApp\n              </a>\n\n            </td>\n          </tr>\n\n          <!-- QUOTE -->\n          <tr>\n            <td style=\"font-size:14px; color:#9e7a5a; line-height:1.75; padding-bottom:22px; text-align:center; font-style:italic; border-top:1px solid #ede5d8; padding-top:22px;\">\n              \"Vienes por un masaje. Te vas más ligero, más viva, más tú.\"\n            </td>\n          </tr>\n\n          <!-- FOOTER FINAL -->\n          <tr>\n            <td style=\"font-size:13px; color:#888; line-height:1.75; text-align:left;\">\n              Gracias por confiar en <strong style=\"color:#2c1a0e;\">Tornasol Bienestar</strong>.\n              <br>\n              Con cariño, Teresa Figueroa · Terapeuta de bienestar\n              <br><br>\n              <span style=\"color:#aaa;\">\n                Tel. +34 640 80 27 14 · tornasol.bienestar.belleza@gmail.com\n              </span>\n            </td>\n          </tr>\n\n        </table>\n\n      </td>\n    </tr>\n  </table>\n\n</body>\n</html>",
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          704,
          304
        ],
        "id": "b8bf7885-2ba3-46c6-b2eb-22c96343226c",
        "name": "Send a message",
        "webhookId": "6f8eedf8-3520-4bfa-921b-8711e089cfe4",
        "credentials": {
          "gmailOAuth2": {
            "id": "ryxHkzomci5whSBU",
            "name": "tornasol"
          }
        }
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Ignacio arcala",
    "name": "Version a70f05b0",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "a70f05b0-9d57-4193-88f5-50e842ef162e",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-10T16:14:35.896Z",
  "id": "u354s8Y3jVxbLFJC",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "REAGENDAR CITA TORNASOL",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "CORREO"
            },
            {
              "name": "NOMBRE"
            },
            {
              "name": "FECHA"
            },
            {
              "name": "SERVICIO"
            }
          ]
        }
      },
      "id": "afe702fc-eeb4-44a6-86c4-6755d102d46d",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n\n    // -------- 1. ORIGEN DE DATOS --------\n    const rawSummary_A  = item.json.NOMBRE;\n    const rawFecha_A    = item.json.FECHA;\n    const rawCorreo_A   = item.json.CORREO;\n\n    const rawSummary_B  = item.json.summary;\n    const rawFecha_B    = item.json.start?.dateTime;\n    const rawCorreo_B   = item.json.creator?.email;\n\n    const rawSummary = rawSummary_A || rawSummary_B || \"\";\n    const rawFecha   = rawFecha_A   || rawFecha_B   || \"\";\n    const rawCorreo  = rawCorreo_A  || rawCorreo_B  || \"\";\n\n    // -------- 2. LIMPIEZA --------\n    const clean = t => (t || \"\")\n        .replace(/[\\r\\n\\t]+/g, \" \")\n        .replace(/\\s+/g, \" \")\n        .trim();\n\n    const summary = clean(rawSummary);\n\n    // -------- 3. CLIENTE Y SERVICIO --------\n    let matchA = summary.match(/cita con (.+?) para (.+)$/i);\n    let matchB = summary.match(/(.+?)\\s+—\\s+(.+)/);\n\n    let cliente = \"\";\n    let servicio = \"\";\n\n    if (matchA) {\n        cliente = matchA[1].trim();\n        servicio = matchA[2].trim();\n    } else if (matchB) {\n        cliente = matchB[1].trim();\n        servicio = matchB[2].trim();\n    }\n\n    // -------- 4. NOMBRE (solo primer nombre) --------\n    let nombre = \"\";\n    if (cliente) {\n        const partes = cliente.split(\" \").filter(Boolean);\n        if (partes[0]) {\n            nombre = partes[0][0].toUpperCase() + partes[0].slice(1).toLowerCase();\n        }\n    }\n\n    // -------- 5. CAPITALIZAR SERVICIO --------\n    const capitalizar = txt =>\n        (txt || \"\")\n            .split(\" \")\n            .map(w => w.charAt(0).toUpperCase() + w.slice(1).toLowerCase())\n            .join(\" \");\n\n    const servicioCapitalizado = capitalizar(servicio);\n\n    // -------- 6. FECHA / HORA (Europe/Madrid) --------\n    let fecha = \"\";\n    let hora  = \"\";\n    let fechaHoraGC = \"\";\n\n    let startLocalParts = null;\n\n    if (rawFecha) {\n        const d = new Date(rawFecha);\n\n        if (!isNaN(d.getTime())) {\n\n            fechaHoraGC = rawFecha;\n\n            fecha = new Intl.DateTimeFormat(\"es-ES\", {\n                day: \"2-digit\",\n                month: \"2-digit\",\n                year: \"numeric\",\n                timeZone: \"Europe/Madrid\",\n            }).format(d);\n\n            hora = new Intl.DateTimeFormat(\"es-ES\", {\n                hour: \"2-digit\",\n                minute: \"2-digit\",\n                hour12: false,\n                timeZone: \"Europe/Madrid\",\n            }).format(d);\n\n            startLocalParts = new Intl.DateTimeFormat(\"en-GB\", {\n                year: \"numeric\",\n                month: \"2-digit\",\n                day: \"2-digit\",\n                hour: \"2-digit\",\n                minute: \"2-digit\",\n                hour12: false,\n                timeZone: \"Europe/Madrid\",\n            }).formatToParts(d);\n        }\n    }\n\n    // -------- 7. GOOGLE CALENDAR (START / END en Madrid) --------\n    let gc_start = \"\";\n    let gc_end   = \"\";\n\n    if (startLocalParts) {\n        const get = t => startLocalParts.find(p => p.type === t)?.value;\n        const pad = n => String(n).padStart(2, \"0\");\n\n        const y  = get(\"year\");\n        const m  = get(\"month\");\n        const d  = get(\"day\");\n        const h  = get(\"hour\");\n        const mi = get(\"minute\");\n\n        if (y && m && d && h && mi) {\n            gc_start = `${y}${m}${d}T${h}${mi}00`;\n\n            const end = new Date(`${y}-${m}-${d}T${h}:${mi}:00`);\n            end.setMinutes(end.getMinutes() + 60);\n\n            gc_end = `${y}${m}${pad(end.getDate())}T${pad(end.getHours())}${pad(end.getMinutes())}00`;\n        }\n    }\n\n    // -------- 8. EXTRAER EMAIL REAL --------\n    const extractEmail = text => {\n        if (!text) return \"\";\n        const match = text.match(/[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/);\n        return match ? match[0].toLowerCase() : \"\";\n    };\n\n    const correoLimpio = extractEmail(rawCorreo);\n\n    // -------- 9. SALIDA --------\n    item.json.nombre      = nombre;\n    item.json.servicio    = servicioCapitalizado;\n    item.json.fecha       = fecha;\n    item.json.hora        = hora;\n    item.json.correo      = correoLimpio;\n    item.json.fechaHoraGC = fechaHoraGC;\n    item.json.gc_start    = gc_start;\n    item.json.gc_end      = gc_end;\n\n    return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        304
      ],
      "id": "54f26510-f28c-4478-8270-00453b392b46",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.correo }}",
        "subject": "={{ $json.nombre }}, tu cita en Tornasol ha sido reprogramada ",
        "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Tu cita ha sido reprogramada · Tornasol Bienestar</title>\n</head>\n\n<body style=\"margin:0; padding:0; background:#f5f0eb; font-family:Georgia, 'Times New Roman', serif;\">\n\n  <table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"padding:50px 0;\">\n    <tr>\n      <td align=\"center\">\n\n        <!-- CARD -->\n        <table width=\"560\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\"\n               style=\"background:#fffdf9; border-radius:18px; padding:48px; max-width:560px; box-shadow:0 4px 24px rgba(0,0,0,0.07);\">\n\n          <!-- BRAND -->\n          <tr>\n            <td align=\"left\" style=\"padding-bottom:22px;\">\n              <img\n                src=\"https://static.wixstatic.com/media/ca85b0_47d1fd6910ec40049ef53cf6a305db9a~mv2.png\"\n                alt=\"Tornasol Bienestar\"\n                width=\"130\"\n                style=\"display:block; border:0; outline:none; text-decoration:none;\"\n              >\n            </td>\n          </tr>\n\n          <!-- HEADER -->\n          <tr>\n            <td style=\"font-size:21px; font-weight:700; color:#2c1a0e; padding-bottom:6px; text-align:left; letter-spacing:0.3px;\">\n              Tu cita ha sido reprogramada 🗓️\n            </td>\n          </tr>\n\n          <!-- SUBHEADER -->\n          <tr>\n            <td style=\"font-size:14px; color:#9e7a5a; padding-bottom:22px; text-align:left; font-style:italic;\">\n              Aquí tienes los nuevos detalles de tu sesión\n            </td>\n          </tr>\n\n          <!-- GREETING -->\n          <tr>\n            <td style=\"font-size:15px; color:#444; line-height:1.8; padding-bottom:24px; text-align:left;\">\n              Hola <strong style=\"color:#2c1a0e;\">{{ $json.nombre }}</strong>,\n              <br><br>\n              Te confirmamos que tu cita en <strong>Tornasol Bienestar</strong> ha sido reprogramada correctamente.\n              <br>\n              Estos son los nuevos detalles de tu sesión:\n            </td>\n          </tr>\n\n          <!-- LINE -->\n          <tr>\n            <td style=\"padding-bottom:26px;\">\n              <div style=\"height:1px; background:#ede5d8;\"></div>\n            </td>\n          </tr>\n\n          <!-- DETAILS BLOCK -->\n          <tr>\n            <td style=\"font-size:15px; color:#222; line-height:1.9; text-align:left; padding-bottom:10px;\">\n\n              <div style=\"margin-bottom:14px;\">\n                <span style=\"font-weight:700; color:#2c1a0e;\">📅 Nueva fecha</span><br>\n                <span style=\"color:#555;\">{{ $json.fecha }}</span>\n              </div>\n\n              <div style=\"margin-bottom:14px;\">\n                <span style=\"font-weight:700; color:#2c1a0e;\">🕐 Nueva hora</span><br>\n                <span style=\"color:#555;\">{{ $json.hora }}</span>\n              </div>\n\n              <div style=\"margin-bottom:4px;\">\n                <span style=\"font-weight:700; color:#2c1a0e;\">🌿 Servicio</span><br>\n                <span style=\"color:#555;\">{{ $json.servicio }}</span>\n              </div>\n\n            </td>\n          </tr>\n\n          <!-- ADD TO GOOGLE CALENDAR -->\n          <tr>\n            <td align=\"center\" style=\"padding:20px 0 32px;\">\n              <a\n                href=\"https://calendar.google.com/calendar/render?action=TEMPLATE&text=Cita+en+Tornasol+Bienestar&dates={{ $json.gc_start }}/{{ $json.gc_end }}&details=Servicio%3A+{{ $json.servicio }}&location=Calle+Castelló+31+1º+izquierda%2C+Salamanca%2C+Madrid\"\n                target=\"_blank\"\n                style=\"background:#f0e8dc; color:#2c1a0e; text-decoration:none;\n                       font-size:14px; font-weight:700; padding:11px 24px;\n                       border-radius:10px; display:inline-block; border:1px solid #d9c9b4;\">\n                📅 Añadir a Google Calendar\n              </a>\n            </td>\n          </tr>\n\n          <!-- MAP BLOCK -->\n          <tr>\n            <td style=\"padding:0 0 22px; text-align:left;\">\n\n              <a href=\"https://www.google.com/maps?q=Calle+Castelló+31,+28001+Madrid\" target=\"_blank\" style=\"text-decoration:none;\">\n                <img\n                  src=\"https://staticmap.openstreetmap.de/staticmap.php?center=40.4267,-3.6834&zoom=16&size=560x220&markers=40.4267,-3.6834,red-pushpin\"\n                  alt=\"Mapa Tornasol Bienestar - Calle Castelló 31, Madrid\"\n                  style=\"width:100%; border-radius:12px; display:block; border:0;\"\n                >\n              </a>\n\n              <div style=\"font-size:14px; color:#555; margin-top:10px; line-height:1.7;\">\n                📍 <strong style=\"color:#2c1a0e;\">Dirección:</strong> Calle Castelló 31, 1º izquierda, Salamanca, Madrid\n                <br>\n                <a href=\"https://www.google.com/maps?q=Calle+Castelló+31,+28001+Madrid\"\n                   target=\"_blank\"\n                   style=\"color:#b07d4f; font-weight:700; text-decoration:none;\">\n                  Abrir en Google Maps →\n                </a>\n              </div>\n\n            </td>\n          </tr>\n\n          <!-- INFO BLOCK -->\n          <tr>\n            <td style=\"font-size:14px; color:#555; line-height:1.75; padding-bottom:18px; text-align:left;\">\n\n              <strong style=\"color:#2c1a0e;\">🚇 Cómo llegar</strong><br>\n              El centro se encuentra en el barrio de Salamanca, muy bien comunicado. Las paradas de metro más cercanas son Velázquez (L4) y Príncipe de Vergara (L2/L9), a pocos minutos a pie.\n              <br><br>\n\n              <strong style=\"color:#2c1a0e;\">🅿️ Aparcamiento</strong><br>\n              Dispones de plazas de estacionamiento SER en la zona y parkings públicos cercanos. Te recomendamos llegar con un poco de antelación.\n\n            </td>\n          </tr>\n\n          <!-- LINE -->\n          <tr>\n            <td style=\"padding:22px 0;\">\n              <div style=\"height:1px; background:#ede5d8;\"></div>\n            </td>\n          </tr>\n\n          <!-- FOOTER TEXT -->\n          <tr>\n            <td style=\"font-size:14px; color:#666; line-height:1.75; padding-bottom:20px; text-align:left;\">\n              Si esta nueva fecha u hora no te encaja o necesitas cualquier cambio, estaremos encantadas de ayudarte.\n            </td>\n          </tr>\n\n          <!-- CTA BUTTONS -->\n          <tr>\n            <td align=\"center\" style=\"padding:0 0 28px;\">\n\n              <!-- Call -->\n              <a href=\"tel:+34640802714\"\n                 style=\"background:#2c1a0e; color:#fffdf9; text-decoration:none;\n                        font-size:14px; font-weight:700; padding:12px 22px;\n                        border-radius:10px; display:inline-block;\">\n                📞 Llamar ahora\n              </a>\n\n              <!-- Spacer -->\n              <span style=\"display:inline-block; width:10px;\"></span>\n\n              <!-- WhatsApp -->\n              <a href=\"https://wa.me/34640802714?text=Hola%20Teresa%2C%20quiero%20modificar%20mi%20cita%20reprogramada.\"\n                 target=\"_blank\"\n                 style=\"background:#fffdf9; color:#2c1a0e; text-decoration:none;\n                        font-size:14px; font-weight:700; padding:11px 20px;\n                        border-radius:10px; display:inline-block; border:1px solid #d9c9b4;\">\n                💬 WhatsApp\n              </a>\n\n            </td>\n          </tr>\n\n          <!-- QUOTE -->\n          <tr>\n            <td style=\"font-size:14px; color:#9e7a5a; line-height:1.75; padding-bottom:22px; text-align:center; font-style:italic; border-top:1px solid #ede5d8; padding-top:22px;\">\n              \"Vienes por un masaje. Te vas más ligero, más viva, más tú.\"\n            </td>\n          </tr>\n\n          <!-- FOOTER FINAL -->\n          <tr>\n            <td style=\"font-size:13px; color:#888; line-height:1.75; text-align:left;\">\n              Gracias por confiar en <strong style=\"color:#2c1a0e;\">Tornasol Bienestar</strong>.\n              <br>\n              Con cariño, Teresa Figueroa · Terapeuta de bienestar\n              <br><br>\n              <span style=\"color:#aaa;\">\n                Tel. +34 640 80 27 14 · tornasol.bienestar.belleza@gmail.com\n              </span>\n            </td>\n          </tr>\n\n        </table>\n\n      </td>\n    </tr>\n  </table>\n\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        704,
        304
      ],
      "id": "b8bf7885-2ba3-46c6-b2eb-22c96343226c",
      "name": "Send a message",
      "webhookId": "6f8eedf8-3520-4bfa-921b-8711e089cfe4",
      "credentials": {
        "gmailOAuth2": {
          "id": "ryxHkzomci5whSBU",
          "name": "tornasol"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "CORREO": "👤 CLIENTE\nIgnacio Arcala\n📞 625131640\n📧 7nachoo@gmail.com\n────────────────────────\n💆 SERVICIO\nMasaje Zen Vital\nConfirmación 24h antes enviada correctamente a 7nachoo@gmail.com",
          "NOMBRE": "Ignacio Arcala — Masaje Zen Vital\n",
          "FECHA": "2026-03-19T10:00:00+01:00",
          "SERVICIO": "Ignacio Arcala — Masaje Zen Vital\n"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo": {
    "owner": "7nachooo",
    "name": "WORKFLOWS"
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-03-10T16:14:35.899Z",
      "createdAt": "2026-03-10T16:14:35.899Z",
      "role": "workflow:owner",
      "workflowId": "u354s8Y3jVxbLFJC",
      "projectId": "lqK9FRssQ2UFPW9I"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-03-10T16:14:12.973Z",
      "createdAt": "2026-03-10T16:14:12.973Z",
      "id": "3pgstlrqjK6cwEu3",
      "name": "TORNASOL"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-20T17:14:03.114Z",
  "versionId": "a70f05b0-9d57-4193-88f5-50e842ef162e"
}