uxWh85cJJmezyzVg.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-14T09:49:49.000Z",
    "createdAt": "2026-03-14T09:49:42.013Z",
    "versionId": "669545b9-747c-4eb2-afe3-bd045d10b61d",
    "workflowId": "uxWh85cJJmezyzVg",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "Telefono"
              },
              {
                "name": "Fecha nueva"
              },
              {
                "name": "Hora nueva"
              },
              {
                "name": "Fecha anterior"
              },
              {
                "name": "Hora anterior"
              }
            ]
          }
        },
        "id": "c055762a-8fe7-4141-a639-df2372f30060",
        "typeVersion": 1.1,
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          -112,
          960
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Fecha:  {{ $json.body.args.Fecha }}\nHora: {{ $json.body.args.Hora }}\nTeléfono: {{ $json.body.call.transcript_object[5].content }}\nCorreo: ",
          "messages": {
            "messageValues": [
              {
                "message": "=Eres un asistente que extrae información desde un texto de entrada y devuelve tres valores: fecha, hora y teléfono.\n\n1. Si la entrada incluye una fecha natural (como “martes”, “jueves que viene”, “20 de febrero”), conviértela a formato ISO 8601 con zona horaria española usando como referencia la fecha actual {{$now}}.  \n   Formato: YYYY-MM-DD\n\n2. Si la entrada incluye una hora (como “12:30”, “3pm”, “a las 18”), conviértela al formato:\n   HH:mm:ss\n\n3. Devuelve el teléfono tal como aparece en el texto, sin modificarlo.\n\nDevuelve **solo** este JSON exacto sin texto adicional:\n\n{\n  \"fecha\": \"YYYY-MM-DD\",\n  \"hora\": \"HH:mm:ss\",\n  \"telefono\": \"634223423\"\n}\n\nEntrada:\nFecha: {{ $json.body.args.Fecha }}\nHora: {{ $json.body.args.Hora }}\nTelefono: {{ $json.body.call.transcript_object[5].content }}\n\n\n\n\n"
              }
            ]
          },
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.7,
        "position": [
          336,
          960
        ],
        "id": "17d29b68-7769-4a82-808a-28213cd099c8",
        "name": "Basic LLM Chain3"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4.1-mini",
            "mode": "list",
            "cachedResultName": "gpt-4.1-mini"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          416,
          1184
        ],
        "id": "340f6b8d-a0a8-48a6-9c9e-bb1696fa96e7",
        "name": "OpenAI Chat Model3",
        "credentials": {
          "openAiApi": {
            "id": "g729OTNpnBux0J4K",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst texto = input.text || \"\";\n\n// Extraer fecha, hora y teléfono del output del LLM\nconst fecha = (texto.match(/\"fecha\"\\s*:\\s*\"([^\"]+)\"/) || [])[1] || \"\";\nconst hora = (texto.match(/\"hora\"\\s*:\\s*\"([^\"]+)\"/) || [])[1] || \"\";\nconst telefono = (texto.match(/\"telefono\"\\s*:\\s*\"([^\"]+)\"/) || [])[1] || \n                 $('Code in JavaScript8').first().json.Telefono || \"\";\n\nreturn [{\n  json: {\n    Telefono: telefono.replace(/\\s+/g, ''),\n    Fecha_nueva: $('Code in JavaScript8').first().json.Fecha_nueva,\n    Hora_nueva: $('Code in JavaScript8').first().json.Hora_nueva,\n    Fecha_anterior: $('Code in JavaScript8').first().json.Fecha_anterior,\n    Hora_anterior: $('Code in JavaScript8').first().json.Hora_anterior,\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          688,
          960
        ],
        "id": "7ef3174b-124b-4a51-8604-63927760db2f",
        "name": "Code in JavaScript5"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "u354s8Y3jVxbLFJC",
            "mode": "list",
            "cachedResultUrl": "/workflow/u354s8Y3jVxbLFJC",
            "cachedResultName": "REAGENDAR CITA TORNASOL"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "NOMBRE": "={{ $json.summary }}",
              "FECHA": "={{ $json.start.dateTime }}",
              "SERVICIO": "={{ $json.summary }}",
              "CORREO": "={{ $json.description }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "CORREO",
                "displayName": "CORREO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "NOMBRE",
                "displayName": "NOMBRE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "FECHA",
                "displayName": "FECHA",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "SERVICIO",
                "displayName": "SERVICIO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1584,
          864
        ],
        "id": "030a595d-2586-4961-b7c7-8d3180bfcab8",
        "name": "REAGENDA CITA1",
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "return items.map(item => {\n  const call = item.json.body?.call || {};\n\n  // --- 1) Unimos todo el transcript en texto plano ---\n  const rawText = (call.transcript || \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\"); // quitar tildes\n\n  // --- 2) Buscamos todas las formas de decir el correo ---\n  // soporta frases como: \"mi correo es ...\" o \"mi correo, ...\"\n  const match = rawText.match(/mi correo[^,.:\\-]*[,.:\\-]?\\s*(.+)/i);\n\n  if (!match) {\n    item.json.correo = \"\";\n    return item;\n  }\n\n  let frase = match[1].toLowerCase().trim();\n\n  // --- 3) Diccionario de números escritos ---\n  const numeros = {\n    cero: \"0\", uno: \"1\", una: \"1\", dos: \"2\", tres: \"3\",\n    cuatro: \"4\", cinco: \"5\", seis: \"6\", siete: \"7\",\n    ocho: \"8\", nueve: \"9\"\n  };\n\n  // Convertir números escritos (“siete”, “número siete”, etc.)\n  frase = frase.replace(\n    /\\b(cero|uno|una|dos|tres|cuatro|cinco|seis|siete|ocho|nueve)\\b/g,\n    m => numeros[m]\n  );\n\n  // --- 4) Frases especiales ---\n  frase = frase\n    .replace(/con dos os?/g, \"oo\")\n    .replace(/arroba/g, \"@\")\n    .replace(/punto/g, \".\")\n    .replace(/el numero/g, \"\") // ejemplo: “el número 7”\n    .replace(/el /g, \"\")       // “el siete” -> “7”\n    .replace(/,/g, \" \")\n    .replace(/ /g, \"\");\n\n  // --- 5) Filtrar caracteres válidos ---\n  frase = frase.replace(/[^a-z0-9@.]/g, \"\");\n\n  item.json.correo = frase;\n  return item;\n});\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          112,
          960
        ],
        "id": "ba3dd935-b5ec-4bc4-b2d5-6ce5fc0c8331",
        "name": "Code in JavaScript8"
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "https://docs.google.com/spreadsheets/d/1Xt3ZocYvDsIDMS8JElEpt5fFcdXzdQ_l7TcU9V0E0CU/edit?gid=0#gid=0",
            "mode": "url"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Hoja 1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WJIikAcgg-zW8OkQHBDhvW6pG0okIc6G3A5cF5G9IdM/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "id": "={{ $json.id }}",
              "nombre cliente": "={{ $('Información cita1').item.json['nombre cliente'] }}",
              "telefono": "={{ $('Información cita1').item.json.telefono }}",
              "correo": "={{ $('Información cita1').item.json.correo }}",
              "fecha": "={{ new Date($json.start.dateTime)\n    .toLocaleString(\"es-ES\", {\n        hour: \"2-digit\",\n        minute: \"2-digit\",\n        day: \"2-digit\",\n        month: \"2-digit\",\n        year: \"numeric\",\n        hour12: false,\n        timeZone: \"Europe/Madrid\"\n    })\n}}"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "telefono",
                "displayName": "telefono",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "correo",
                "displayName": "correo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "fecha",
                "displayName": "fecha",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "nombre cliente",
                "displayName": "nombre cliente",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1584,
          1056
        ],
        "id": "37e66c18-0dcc-48cc-bc06-5514240100c1",
        "name": "Actualizar información1",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "px0flVbICKq2At2u",
            "name": "TORNASOL"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "mode": "url",
            "value": "https://docs.google.com/spreadsheets/d/1Xt3ZocYvDsIDMS8JElEpt5fFcdXzdQ_l7TcU9V0E0CU/edit?gid=0#gid=0",
            "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
          },
          "sheetName": {
            "__rl": true,
            "value": "https://docs.google.com/spreadsheets/d/1Xt3ZocYvDsIDMS8JElEpt5fFcdXzdQ_l7TcU9V0E0CU/edit?gid=0#gid=0",
            "mode": "url"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "telefono",
                "lookupValue": "={{ $('Code in JavaScript8').item.json.Telefono }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          912,
          960
        ],
        "id": "89152843-b9eb-4411-a9e5-f69069e125a3",
        "name": "Información cita1",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "px0flVbICKq2At2u",
            "name": "TORNASOL"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first().json;\n\nconst duraciones = {\n  \"Masaje Relajante\": 60,\n  \"Masaje Ayurveda Relajante\": 60,\n  \"Masaje Descontracturante\": 60,\n  \"Masaje Tailandés con Aceite\": 60,\n  \"Masaje de Cabeza, Cuello, Hombros y Espalda\": 60,\n  \"Masaje Lomi Lomi\": 60,\n  \"Masaje Adelgazante y Anticelulítico\": 60,\n  \"Masajes para Embarazada\": 60,\n  \"Drenaje Linfático Manual\": 60,\n  \"Masaje Zen Vital\": 60,\n  \"Masaje Balsámico\": 90,\n  \"Ritual Serena\": 60,\n  \"Masaje para Parejas\": 60,\n  \"Reflexología\": 50,\n  \"Sanación con Reiki\": 60,\n  \"Masaje Facial Japonés Kobido\": 60,\n  \"Limpieza de Piel Intensa\": 60,\n  \"Limpieza de Piel Premium\": 60,\n  \"Dermapen\": 60,\n  \"The Glow Session\": 90,\n  \"Exoxomas\": 45,\n  \"Depilación Ingles Completas\": 30,\n  \"Ingles Completas y Medias Piernas\": 60\n};\n\nconst servicio = input.servicio || \"\";\nconst duracion = duraciones[servicio] || 60;\n\n// ✅ Nombres correctos con espacio\nconst fechaNueva = $('Code in JavaScript8').first().json[\"Fecha nueva\"];\nconst horaNueva = $('Code in JavaScript8').first().json[\"Hora nueva\"];\n\nconst start_time = `${fechaNueva}T${horaNueva}:00+01:00`;\n\nconst [horas, minutos] = horaNueva.split(':').map(Number);\nconst totalMinutos = horas * 60 + minutos + duracion;\nconst horaFin = String(Math.floor(totalMinutos / 60)).padStart(2, '0');\nconst minFin = String(totalMinutos % 60).padStart(2, '0');\nconst end_time = `${fechaNueva}T${horaFin}:${minFin}:00+01:00`;\n\nreturn [{\n  json: {\n    ...input,\n    servicio,\n    duracion,\n    start_time,\n    end_time\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1136,
          960
        ],
        "id": "8fbd69f6-46da-41fd-94a0-16d0ab4da352",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "operation": "update",
          "calendar": {
            "__rl": true,
            "value": "tornasolcontacto3@gmail.com",
            "mode": "list",
            "cachedResultName": "tornasolcontacto3@gmail.com"
          },
          "eventId": "={{ $('Información cita1').item.json.id }}",
          "updateFields": {
            "end": "={{ $json.end_time }}",
            "start": "={{ $json.start_time }}"
          }
        },
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          1360,
          960
        ],
        "id": "d5c35be0-2ea6-4e4e-b694-431c66ab22c2",
        "name": "Update an event",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "ZwNI01XrsFRnMJdg",
            "name": "TORNASOL"
          }
        }
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Code in JavaScript8",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Basic LLM Chain3": {
        "main": [
          [
            {
              "node": "Code in JavaScript5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model3": {
        "ai_languageModel": [
          [
            {
              "node": "Basic LLM Chain3",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript5": {
        "main": [
          [
            {
              "node": "Información cita1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript8": {
        "main": [
          [
            {
              "node": "Basic LLM Chain3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Información cita1": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Update an event",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update an event": {
        "main": [
          [
            {
              "node": "REAGENDA CITA1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Actualizar información1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Ignacio arcala",
    "name": "Version 669545b9",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "669545b9-747c-4eb2-afe3-bd045d10b61d",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code in JavaScript8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain3": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Información cita1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript8": {
      "main": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Información cita1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Update an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update an event": {
      "main": [
        [
          {
            "node": "REAGENDA CITA1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Actualizar información1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-05T15:16:26.303Z",
  "id": "uxWh85cJJmezyzVg",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "TOOL REAGENDAR",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Telefono"
            },
            {
              "name": "Fecha nueva"
            },
            {
              "name": "Hora nueva"
            },
            {
              "name": "Fecha anterior"
            },
            {
              "name": "Hora anterior"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -112,
        960
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Fecha:  {{ $json.body.args.Fecha }}\nHora: {{ $json.body.args.Hora }}\nTeléfono: {{ $json.body.call.transcript_object[5].content }}\nCorreo: ",
        "messages": {
          "messageValues": [
            {
              "message": "=Eres un asistente que extrae información desde un texto de entrada y devuelve tres valores: fecha, hora y teléfono.\n\n1. Si la entrada incluye una fecha natural (como “martes”, “jueves que viene”, “20 de febrero”), conviértela a formato ISO 8601 con zona horaria española usando como referencia la fecha actual {{$now}}.  \n   Formato: YYYY-MM-DD\n\n2. Si la entrada incluye una hora (como “12:30”, “3pm”, “a las 18”), conviértela al formato:\n   HH:mm:ss\n\n3. Devuelve el teléfono tal como aparece en el texto, sin modificarlo.\n\nDevuelve **solo** este JSON exacto sin texto adicional:\n\n{\n  \"fecha\": \"YYYY-MM-DD\",\n  \"hora\": \"HH:mm:ss\",\n  \"telefono\": \"634223423\"\n}\n\nEntrada:\nFecha: {{ $json.body.args.Fecha }}\nHora: {{ $json.body.args.Hora }}\nTelefono: {{ $json.body.call.transcript_object[5].content }}\n\n\n\n\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        336,
        960
      ],
      "id": "17d29b68-7769-4a82-808a-28213cd099c8",
      "name": "Basic LLM Chain3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        416,
        1184
      ],
      "id": "340f6b8d-a0a8-48a6-9c9e-bb1696fa96e7",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "g729OTNpnBux0J4K",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst texto = input.text || \"\";\n\n// Extraer fecha, hora y teléfono del output del LLM\nconst fecha = (texto.match(/\"fecha\"\\s*:\\s*\"([^\"]+)\"/) || [])[1] || \"\";\nconst hora = (texto.match(/\"hora\"\\s*:\\s*\"([^\"]+)\"/) || [])[1] || \"\";\nconst telefono = (texto.match(/\"telefono\"\\s*:\\s*\"([^\"]+)\"/) || [])[1] || \n                 $('Code in JavaScript8').first().json.Telefono || \"\";\n\nreturn [{\n  json: {\n    Telefono: telefono.replace(/\\s+/g, ''),\n    Fecha_nueva: $('Code in JavaScript8').first().json.Fecha_nueva,\n    Hora_nueva: $('Code in JavaScript8').first().json.Hora_nueva,\n    Fecha_anterior: $('Code in JavaScript8').first().json.Fecha_anterior,\n    Hora_anterior: $('Code in JavaScript8').first().json.Hora_anterior,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        960
      ],
      "id": "7ef3174b-124b-4a51-8604-63927760db2f",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "u354s8Y3jVxbLFJC",
          "mode": "list",
          "cachedResultUrl": "/workflow/u354s8Y3jVxbLFJC",
          "cachedResultName": "REAGENDAR CITA TORNASOL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "NOMBRE": "={{ $json.summary }}",
            "FECHA": "={{ $json.start.dateTime }}",
            "SERVICIO": "={{ $json.summary }}",
            "CORREO": "={{ $json.description }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "CORREO",
              "displayName": "CORREO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "NOMBRE",
              "displayName": "NOMBRE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "FECHA",
              "displayName": "FECHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "SERVICIO",
              "displayName": "SERVICIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1584,
        864
      ],
      "id": "030a595d-2586-4961-b7c7-8d3180bfcab8",
      "name": "REAGENDA CITA1",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const call = item.json.body?.call || {};\n\n  // --- 1) Unimos todo el transcript en texto plano ---\n  const rawText = (call.transcript || \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\"); // quitar tildes\n\n  // --- 2) Buscamos todas las formas de decir el correo ---\n  // soporta frases como: \"mi correo es ...\" o \"mi correo, ...\"\n  const match = rawText.match(/mi correo[^,.:\\-]*[,.:\\-]?\\s*(.+)/i);\n\n  if (!match) {\n    item.json.correo = \"\";\n    return item;\n  }\n\n  let frase = match[1].toLowerCase().trim();\n\n  // --- 3) Diccionario de números escritos ---\n  const numeros = {\n    cero: \"0\", uno: \"1\", una: \"1\", dos: \"2\", tres: \"3\",\n    cuatro: \"4\", cinco: \"5\", seis: \"6\", siete: \"7\",\n    ocho: \"8\", nueve: \"9\"\n  };\n\n  // Convertir números escritos (“siete”, “número siete”, etc.)\n  frase = frase.replace(\n    /\\b(cero|uno|una|dos|tres|cuatro|cinco|seis|siete|ocho|nueve)\\b/g,\n    m => numeros[m]\n  );\n\n  // --- 4) Frases especiales ---\n  frase = frase\n    .replace(/con dos os?/g, \"oo\")\n    .replace(/arroba/g, \"@\")\n    .replace(/punto/g, \".\")\n    .replace(/el numero/g, \"\") // ejemplo: “el número 7”\n    .replace(/el /g, \"\")       // “el siete” -> “7”\n    .replace(/,/g, \" \")\n    .replace(/ /g, \"\");\n\n  // --- 5) Filtrar caracteres válidos ---\n  frase = frase.replace(/[^a-z0-9@.]/g, \"\");\n\n  item.json.correo = frase;\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        960
      ],
      "id": "ba3dd935-b5ec-4bc4-b2d5-6ce5fc0c8331",
      "name": "Code in JavaScript8"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Xt3ZocYvDsIDMS8JElEpt5fFcdXzdQ_l7TcU9V0E0CU/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WJIikAcgg-zW8OkQHBDhvW6pG0okIc6G3A5cF5G9IdM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "nombre cliente": "={{ $('Información cita1').item.json['nombre cliente'] }}",
            "telefono": "={{ $('Información cita1').item.json.telefono }}",
            "correo": "={{ $('Información cita1').item.json.correo }}",
            "fecha": "={{ new Date($json.start.dateTime)\n    .toLocaleString(\"es-ES\", {\n        hour: \"2-digit\",\n        minute: \"2-digit\",\n        day: \"2-digit\",\n        month: \"2-digit\",\n        year: \"numeric\",\n        hour12: false,\n        timeZone: \"Europe/Madrid\"\n    })\n}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "correo",
              "displayName": "correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre cliente",
              "displayName": "nombre cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1584,
        1056
      ],
      "id": "37e66c18-0dcc-48cc-bc06-5514240100c1",
      "name": "Actualizar información1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "px0flVbICKq2At2u",
          "name": "TORNASOL"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1Xt3ZocYvDsIDMS8JElEpt5fFcdXzdQ_l7TcU9V0E0CU/edit?gid=0#gid=0",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Xt3ZocYvDsIDMS8JElEpt5fFcdXzdQ_l7TcU9V0E0CU/edit?gid=0#gid=0",
          "mode": "url"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telefono",
              "lookupValue": "={{ $('Code in JavaScript8').item.json.Telefono }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        912,
        960
      ],
      "id": "89152843-b9eb-4411-a9e5-f69069e125a3",
      "name": "Información cita1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "px0flVbICKq2At2u",
          "name": "TORNASOL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst duraciones = {\n  \"Masaje Relajante\": 60,\n  \"Masaje Ayurveda Relajante\": 60,\n  \"Masaje Descontracturante\": 60,\n  \"Masaje Tailandés con Aceite\": 60,\n  \"Masaje de Cabeza, Cuello, Hombros y Espalda\": 60,\n  \"Masaje Lomi Lomi\": 60,\n  \"Masaje Adelgazante y Anticelulítico\": 60,\n  \"Masajes para Embarazada\": 60,\n  \"Drenaje Linfático Manual\": 60,\n  \"Masaje Zen Vital\": 60,\n  \"Masaje Balsámico\": 90,\n  \"Ritual Serena\": 60,\n  \"Masaje para Parejas\": 60,\n  \"Reflexología\": 50,\n  \"Sanación con Reiki\": 60,\n  \"Masaje Facial Japonés Kobido\": 60,\n  \"Limpieza de Piel Intensa\": 60,\n  \"Limpieza de Piel Premium\": 60,\n  \"Dermapen\": 60,\n  \"The Glow Session\": 90,\n  \"Exoxomas\": 45,\n  \"Depilación Ingles Completas\": 30,\n  \"Ingles Completas y Medias Piernas\": 60\n};\n\nconst servicio = input.servicio || \"\";\nconst duracion = duraciones[servicio] || 60;\n\n// ✅ Nombres correctos con espacio\nconst fechaNueva = $('Code in JavaScript8').first().json[\"Fecha nueva\"];\nconst horaNueva = $('Code in JavaScript8').first().json[\"Hora nueva\"];\n\nconst start_time = `${fechaNueva}T${horaNueva}:00+01:00`;\n\nconst [horas, minutos] = horaNueva.split(':').map(Number);\nconst totalMinutos = horas * 60 + minutos + duracion;\nconst horaFin = String(Math.floor(totalMinutos / 60)).padStart(2, '0');\nconst minFin = String(totalMinutos % 60).padStart(2, '0');\nconst end_time = `${fechaNueva}T${horaFin}:${minFin}:00+01:00`;\n\nreturn [{\n  json: {\n    ...input,\n    servicio,\n    duracion,\n    start_time,\n    end_time\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        960
      ],
      "id": "8fbd69f6-46da-41fd-94a0-16d0ab4da352",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "tornasolcontacto3@gmail.com",
          "mode": "list",
          "cachedResultName": "tornasolcontacto3@gmail.com"
        },
        "eventId": "={{ $('Información cita1').item.json.id }}",
        "updateFields": {
          "end": "={{ $json.end_time }}",
          "start": "={{ $json.start_time }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1360,
        960
      ],
      "id": "d5c35be0-2ea6-4e4e-b694-431c66ab22c2",
      "name": "Update an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ZwNI01XrsFRnMJdg",
          "name": "TORNASOL"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "Telefono": "672345789",
          "Fecha nueva": "2026-03-23",
          "Hora nueva": "17:00",
          "Fecha anterior": "2026-03-22",
          "Hora anterior": "11:00"
        }
      }
    ]
  },
  "repo": {
    "owner": "7nachooo",
    "name": "WORKFLOWS"
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-02-05T15:16:26.307Z",
      "createdAt": "2026-02-05T15:16:26.307Z",
      "role": "workflow:owner",
      "workflowId": "uxWh85cJJmezyzVg",
      "projectId": "lqK9FRssQ2UFPW9I"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-03-10T16:14:12.973Z",
      "createdAt": "2026-03-10T16:14:12.973Z",
      "id": "3pgstlrqjK6cwEu3",
      "name": "TORNASOL"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-21T19:20:28.682Z",
  "versionId": "669545b9-747c-4eb2-afe3-bd045d10b61d"
}